
{% assign blog_handle = 'news' %}
{% paginate blogs[blog_handle].articles by 36 %}
 
  <ul id="packery" class="dd">

    {% for article in blogs[blog_handle].articles %}
    {% assign instructions = article.metafields.c_f %}
    
   
      {% case instructions.class %}
    
        {% when 'exlarge' %}
        <li class=" item exlarge  {% if article.metafields.c_f.show_bar_on_hover %}show-on-hover{% endif %}">
          <a href="{% if article.metafields.c_f.custom_link %}{{ article.metafields.c_f.custom_link }}{% else %}{{ article.url }}{% endif %}">
            {% if article.metafields.c_f.Image_Extra_large %}
              <img src="{{ article.metafields.c_f.Image_Extra_large }}" alt="{{article.title}}" />
            {% else %}
              <img src="{{'default-ex-large.jpg' | file_url }}" alt="{{article.title}}" />
            {% endif %}
            {% include 'masonry-hover' %}
          </a>
        </li>        
        {% when 'large' %}
        <li class=" item large  {% if article.metafields.c_f.show_bar_on_hover %}show-on-hover{% endif %}">
          <a href="{% if article.metafields.c_f.custom_link %}{{ article.metafields.c_f.custom_link }}{% else %}{{ article.url }}{% endif %}">
            {% if article.metafields.c_f.image_large %}
              <img src="{{ article.metafields.c_f.image_large }}" alt="{{article.title}}" />
            {% else %}
              <img src="{{'default-large.jpg' | file_url }}" alt="{{article.title}}" />
            {% endif %}
            {% include 'masonry-hover' %}
          </a>
        </li>
        {% when 'medium' %}
        <li class=" item medium  {% if article.metafields.c_f.show_bar_on_hover %}show-on-hover{% endif %} ">
          <a href="{% if article.metafields.c_f.custom_link %}{{ article.metafields.c_f.custom_link }}{% else %}{{ article.url }}{% endif %}">
            {% if article.metafields.c_f.image_medium %}
              <img src="{{ article.metafields.c_f.image_medium }}" alt="{{article.title}}" />
            {% else %}
              <img src="{{'default-medium.jpg' | file_url }}" alt="{{article.title}}" />
            {% endif %}
            {% include 'masonry-hover' %}
          </a>
        </li>
        {% when 'small' %}
        <li class=" item small {% if article.metafields.c_f.show_bar_on_hover %}show-on-hover{% endif %}">
          {% if article.metafields.c_f.image_small_first %}
            <span class="first-cls">
              <a href="{% if article.metafields.c_f.image_first_link %}{{ article.metafields.c_f.image_first_link }}{% else %}{{ article.url }}{% endif %}">
                <img src="{{ article.metafields.c_f.image_small_first }}" alt="{{article.title}}" />
                {% include 'masonry-hover-small-one' %}
              </a>
            </span>
          {% else %}
            <span class="first-cls">
              <a href="{% if article.metafields.c_f.image_first_link %}{{ article.metafields.c_f.image_first_link }}{% else %}{{ article.url }}{% endif %}">
                <img src="{{'default-small.jpg' | file_url }}" alt="{{article.title}}" />
                {% include 'masonry-hover-small-one' %}
              </a>
            </span>
          {% endif %}
          {% if article.metafields.c_f.image_small_second %}
            <span class="second-cls">
              <a href="{% if article.metafields.c_f.image_second_link %}{{ article.metafields.c_f.image_second_link }}{% else %}{{ article.url }}{% endif %}">
                <img src="{{ article.metafields.c_f.image_small_second }}" alt="{{article.title}}" />
                {% include 'masonry-hover-small-two' %}
              </a>
            </span>
          {% else %}
            <span class="second-cls">
              <a href="{% if article.metafields.c_f.image_second_link %}{{ article.metafields.c_f.image_second_link }}{% else %}{{ article.url }}{% endif %}">
                <img src="{{'default-small.jpg' | file_url }}" alt="{{article.title}}" />
                {% include 'masonry-hover-small-two' %}
              </a>
            </span>
          {% endif %}
        </li>
     
    	{% else %}
     {% comment %}
        <li class="item medium  {% if article.metafields.c_f.show_bar_on_hover %}show-on-hover{% endif %}">
          <a href="{% if article.metafields.c_f.custom_link %}{{ article.metafields.c_f.custom_link }}{% else %}{{ article.url }}{% endif %}">
            <img src="{{'default-medium.jpg' | file_url }}" alt="{{article.title}}" />
          </a>
        </li>
   {% endcomment %}
      {% endcase %}
    {% endfor %}
  </ul>

<div class="loadmore">
<a  id="loadmore">
  <img width="30px" src="{{'4a83b984ebaf4ee4d565d67c46bb32ca.svg' | asset_url  }}" alt="" />
</a>
 </div>

{% endpaginate %}


