
{% if article.metafields.c_f.enable_button %}
  {% if article.metafields.c_f.buttonText %}
  	<button class="pinned-button"
            {% if article.metafields.c_f.enable_button contains "#" %}
            style="color:{{article.metafields.c_f.enable_button}};border-color: {{article.metafields.c_f.enable_button}};"              
			{% endif %}>{{ article.metafields.c_f.buttonText }}</button>
  {% else %}
  	<button class="pinned-button" 
            {% if article.metafields.c_f.enable_button contains "#" %}
            style="color:{{article.metafields.c_f.enable_button}};border-color: {{article.metafields.c_f.enable_button}};"              
            {% endif %}
            >Read More</button>
  {% endif %}
{% endif %}
{% if article.metafields.c_f.title %}
  <div class="hover-bar">
    <div class="hover-pads" style=" {% if article.metafields.c_f.enable_button %}padding-right: 84px;{% endif %}">
      <span class="single">{{ article.metafields.c_f.title }}</span>
      {% unless article.metafields.c_f.enable_button %}
        {% if article.metafields.c_f.buttonText %}
          <button  class="hover-btn"
                  {% if article.metafields.c_f.enable_button contains "#" %}
                  style="color:{{article.metafields.c_f.enable_button}};border-color: {{article.metafields.c_f.enable_button}};"              
                  {% endif %}
                  >{{ article.metafields.c_f.buttonText }}</button>
        {% else %}
          <button class="hover-btn">Read More</button>
        {% endif %}
      {% endunless %}
    </div>
  </div> 

{% endif %}
