<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta name="google-site-verification" content="JQebmADrro5Y1O488S2ND0RrP3wAHCAflxHedk9KxBs" />
{% include 'booster-seo' %}
  {% if template != '404' %}{% include 'limespot' %}{% endif %}
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  {% comment %}<title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>{% endcomment %}

  {% if page_description %} 
  {% comment %}<meta name="description" content="{{ page_description | escape }}">{% endcomment %}
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta name="facebook-domain-verification" content="adsnq9kbbi0rags4tybr1v6tbc8189" />

  

  
  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
  {{ 'smk-accordion.scss' | asset_url | stylesheet_tag }}
  
  {{ 'styles-masonry.css' | asset_url | stylesheet_tag }}
  {% comment %}{{ 'styles.css' | asset_url | stylesheet_tag }}{% endcomment %}
{{ 'megamenu.css' | asset_url | stylesheet_tag }}
  
  {% include 'google-fonts' %}

  <!-- Sections ================================================== -->
  <script type="text/javascript">
    function CountDownTimer(dt, id)
    {
      var end = new Date(dt);

      var _second = 1000;
      var _minute = _second * 60;
      var _hour = _minute * 60;
      var _day = _hour * 24;
      var timer;

      function showRemaining() {
        var now = new Date();
        var distance = end - now;
        if (distance < 0) {

          clearInterval(timer);
          document.getElementById(id).innerHTML = 'EXPIRED!';

          return;
        }
        var days = Math.floor(distance / _day);
        var hours = Math.floor((distance % _day) / _hour);
        var minutes = Math.floor((distance % _hour) / _minute);
        var seconds = Math.floor((distance % _minute) / _second);


        if (String(hours).length < 2){
          hours = 0 + String(hours);
        }
        if (String(minutes).length < 2){
          minutes = 0 + String(minutes);
        }
        if (String(seconds).length < 2){
          seconds = 0 + String(seconds);
        }

	
        
        if(days.toString().length == 1)
        {
        	days ='0'+days;
        } 
        if(minutes.toString().length == 1)
        {
        	minutes ='0'+minutes;
        } 
        if(hours.toString().length == 1)
        {
        	hours ='0'+hours;
        }
        
        var datestr ='<div class="day-time"><span class="day-val">'+days+ '</span><span class="days">Days</span></div><div class="hour-time"><span class="hour-val">'+hours+'</span><span class="time">Hrs</span></div><div class="minute-time"><span class="minute-val">'+minutes+'</span><span class="minute">Min</span></div>';
        
        	//: ' + 
            //minutes + ' : ' + 
           // seconds + ' ';

        document.getElementById(id).innerHTML = datestr;
      }

      timer = setInterval(showRemaining, 1000);
    }
  </script>

  <script>
    window.theme = window.theme || {};
    theme.strings = {
      zoomClose: {{ "products.zoom.close" | t | json }},
      zoomPrev: {{ "products.zoom.prev" | t | json }},
      zoomNext: {{ "products.zoom.next" | t | json }},
      moneyFormat: {{ shop.money_format | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      gridType: {{ settings.collection_products_grid | json }}
    };
  </script>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  
  {%- if request.page_type == 'blog' or request.page_type 'article'  -%}
  	{%- render 'ics-js' -%}
  {%- endif -%}

  {% include 'bold-common' %}

  {% include 'oldIE-js' %}

  <script src="{{ 'jquery.min.js' | asset_url }}"></script>
  <script src="{{ 'modernizr.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'app.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'flex.js' | asset_url }}" defer="defer"></script>

  {% comment %}
  If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template.directory == 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'slick.js' | asset_url }}" defer="defer"></script>
  
  {% if template.name == "index" %}  
  {{ 'swiper.css' | asset_url | stylesheet_tag }}
  {% endif %}
  
  <script>
    $(".add").click(function(event){
      event.preventDefault()
      Shopify.AjaxifyCart();
    });

  </script>
  
  <script src="{{ 'packery.pkgd.min.js' | asset_url }}" defer="defer"></script>
  <!--Start of Custom Scrollbar Script-->
  
  {{ 'jquery.custom-scrollbar.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'jquery.custom-scrollbar.js' | asset_url }}" defer="defer"></script>

  <script type="text/javascript">
    var scrollInit = false;
    $(document).ready(function(){
      $(".acc_head").on("click",function(){
        setTimeout(function(){
        	if(!scrollInit && !$(".shipping-scroll").is(":hidden")){
              scrollInit = true;
              $(".shipping-scroll").customScrollbar({
                skin: "default-skin", 
                hScroll: false,
                updateOnWindowResize: true
              })
               $(".shipping-scroll").css("overflow","hidden");
        	}
      	},200)
      });
    });
  </script>
  <!--End of Custom Scrollbar Script-->
  
 
  
  
  <meta name="google-site-verification" content="_Tsjq7Q62Iu7jqdijnvmI81S2qJeliaCnLcvet8BBaI" />
  
  
  <!-- Global site tag (gtag.js) - Google Ads: 1017259506 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1017259506"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-1017259506');
  </script>

  <!-- Start of deadstock Zendesk Widget script -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=dff4e009-8acd-437f-8deb-c6a67a2b194e"> </script>
  <!-- End of deadstock Zendesk Widget script -->
  
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"17537421"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  
{% render 'gsf-conversion-pixels' %}
  <script src="https://js.afterpay.com/afterpay-1.x.js" async> </script>
  
  <script src="{{ 'ls.blur-up.min.js' | asset_url }}"></script>
  <script src="{{ 'jquery.lazyload.min.js' | asset_url }}"></script>
  <script src="{{ 'lazysizes.min.js' | asset_url }}"></script>
  <script src="{{ 'ls.rias.min.js' | asset_url }}"></script>
  <script src="{{ 'ls.bgset.min.js' | asset_url }}"></script>
  <style>.lazyload,.lazyloading{opacity:0}.lazyloaded{opacity:1;transition:opacity.3s}</style>
  {{ 'drawing-styles.scss' | asset_url | stylesheet_tag }}
  <!-- Algolia head -->
    {{ 'algolia_config.js' | asset_url | script_tag }}




<script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-plugin-query-suggestions"></script>
  
<script type="text/template" id="template_algolia_money_format">{% include 'algolia_money_format' %}</script>
<script type="text/template" id="template_algolia_current_collection_id">{% include 'algolia_current_collection_id' %}</script>
<script type="text/template" id="template_algolia_autocomplete">{% include 'algolia_autocomplete.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete.css">{% include 'algolia_autocomplete.css.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_pages_empty">{% include 'algolia_autocomplete_pages_empty.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_page">{% include 'algolia_autocomplete_page.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_collection">{% include 'algolia_autocomplete_collection.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_collections_empty">{% include 'algolia_autocomplete_collections_empty.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_article">{% include 'algolia_autocomplete_article.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_articles_empty">{% include 'algolia_autocomplete_articles_empty.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_product">{% include 'algolia_autocomplete_product.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_products_empty">{% include 'algolia_autocomplete_products_empty.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_footer">{% include 'algolia_autocomplete_footer.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search">{% include 'algolia_instant_search.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search.css">{% include 'algolia_instant_search.css.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_stats">{% include 'algolia_instant_search_stats.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_facet_show_more">{% include 'algolia_instant_search_facet_show_more.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_facet_item">{% include 'algolia_instant_search_facet_item.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_facet_colour">{% include 'algolia_instant_search_facet_colour.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_current_refined_values_item">{% include 'algolia_instant_search_current_refined_values_item.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_product">{% include 'algolia_instant_search_product.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_no_result">{% include 'algolia_instant_search_no_result.hogan' %}</script>
{{ 'algolia_dependency_font-awesome-4-4-0.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'algolia_externals.js' | asset_url }}" defer></script>
{{ 'algolia_init.js' | asset_url | script_tag }}
<script src="{{ 'algolia_analytics.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_translations.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_helpers.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_autocomplete.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_facets.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_sort_orders.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_instant_search.js' | asset_url }}" defer></script>
  <!-- /Algolia head -->

</head>

{% comment %}
Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="index {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {{template | handle }}">
 <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KG6GXLJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  <div id="blog_release_popup" class="blog_popup_close">
    <div id="blog_release_popup_iner">
      <span class="blog_release_popup_close fa fa-times"></span>
      <div class="">

        {% include 'mailchimp' %}

      </div>

    </div>
  </div>
  <div id="productcount" style="display:none">{{ shop.products_count }}</div>
  <div id="NavDrawer" class="drawer drawer--left">
    {% section 'drawer-menu' %}
  </div>
  <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__fixed-header">
      <div class="drawer__header">
        <!--         <div class="drawer__title">{{ 'cart.general.title' | t }}</div> -->
        <div class="drawer__close">
          <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">

            <span class="">Back To [Previous Page]</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">
      <div id="CartContainer" class="drawer__cart"></div>
    </div>
  </div>

  <div id="PageContainer" class="page-container">

    {% section 'header-new' %}
    {% comment %}
    {% section 'header' %}
    {% endcomment %}

    {% comment %}{% if template.name == "index" %}
    {% section 'slideshow' %}
    {% endif %}{% endcomment %}

    <main class="main-content home" role="main">
      {% unless template.name == "index" or template == "collection.image" %}
      <div class="{% if template == "blog.featured" or template == "article.featured" or template == "article.featured1" %}fix-wrapper {%endif%} wrapper">
        {% endunless %}
        {{ content_for_layout }}
        {% unless template.name == "index" or template == "collection.image" %}
      </div>
      {% endunless %}
      <limespot></limespot>
    </main>
    {% if template == 'collection' %}
    {% if collection.description != blank %}
    <div class="brand-seo">
      <div class="brand-seo__spacer"></div>
      <div class="brand-seo__content">
        {{ collection.description }}
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% if template == 'article' %}
    <div class="packery-full">
      {% include 'masonry-infinite' %}
    </div>
    {% endif %}
        {% section 'footer-new' %}
 





  </div>

  {% comment %}
  Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
    $(function() {
      timber.resetPasswordSuccess();
    });
    {% endif %}
  </script>

  {% comment %}
  Ajaxify your cart with this plugin.
  Documentation:
  - http://shopify.com/timber#ajax-cart
  {% endcomment %}


  {% if settings.cart_type == 'drawer' %}
  {% include 'ajax-cart-template' %}

  {% endif %}

  <div id="SearchModal" class="mfp-hide">
    {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--modal' %}
  </div>

  {% if template contains 'collection' %}  
  <script>
    jQuery(document).ready(function($){
      // filter , sorting & hide-block
      //== to hide the filter on hover on menu
      $('#AccessibleNav li').hover(function(){
        $('.custom_filter_wrap').each(function(){
          $('.custom_filter_wrap .filter_custom').each(function(){
            $(this).removeClass('cat-filt-wrap');

          });
        });    
      });
      //=========================
      $('.description-class div').show();
      $('.heading-class').click(function(){
        $(this).parent().find('div').slideToggle(); 
        $(this).toggleClass('close-heading');
        $(this).toggleClass('open-heading');

      });
      // block n hide filter 
      $('.category-filter').click(function(){
        $('.collection-sort').closest('.filter_custom').removeClass('cat-filt-wrap');
        $('.size-filter').closest('.filter_custom').removeClass('cat-filt-wrap'); 
        if($(this).closest('.filter_custom').hasClass('cat-filt-wrap'))
        {
          $(this).closest('.filter_custom').removeClass('cat-filt-wrap'); 
        }else{
          $(this).closest('.filter_custom').addClass('cat-filt-wrap'); 
        }
      });
      // block n hide sort
      $('.collection-sort').click(function(){
        console.log('test 1');
        $('.category-filter').closest('.filter_custom').removeClass('cat-filt-wrap');          	  
        $('.size-filter').closest('.filter_custom').removeClass('cat-filt-wrap'); 
        if($(this).closest('.filter_custom').hasClass('cat-filt-wrap'))
        {
          console.log('test 12');
          $(this).closest('.filter_custom').removeClass('cat-filt-wrap'); 
        }else{
          console.log('test 13');
          $(this).closest('.filter_custom').addClass('cat-filt-wrap'); 
        }
      });
      // block n hide filter
      $('.size-filter').click(function(){
        $('.collection-sort').closest('.filter_custom').removeClass('cat-filt-wrap');
        $('.category-filter').closest('.filter_custom').removeClass('cat-filt-wrap'); 
        if($(this).closest('.filter_custom').hasClass('cat-filt-wrap'))
        {
          $(this).closest('.filter_custom').removeClass('cat-filt-wrap'); 
        }else{
          $(this).closest('.filter_custom').addClass('cat-filt-wrap'); 
        }
      });
      // to find the numerice value of size filter
      $('.size1 li').each(function(){
        var x = $(this).data('tag');
        if($.isNumeric(x)){}else{
          $(this).addClass('second-col');
          //console.log('---'+x);
        }
      });
    });
  </script>
  {% endif %}
  {% include 'currencies' %}
  
  {{ 'smk-accordion.js' | asset_url | script_tag }}

  <script>
    jQuery(document).ready(function($){
      {% if template contains 'collection' or  template == 'index' or template == 'article.featured' or template contains '404'  %}
      if(window.outerWidth > 768 ) {

        $(".radio-wrapper label").on('click touchstart', function(){  
          var x = document.getElementById("ProductSelect").selectedIndex;
          //alert(document.getElementsByTagName("option")[x].value);
        });

        var count = 0;
        $(".radio-wrapper label").on('click touchstart', function(){      
          var val = $(this).find(':radio').val();
          // alert("ok");
          $(this).siblings().removeClass('selected-label');
          if(!$(this).hasClass("disabled"))
          {
            $(this).addClass('selected-label');
            $(this).find('input[type=radio]').attr('checked', 'checked');
          }

          $(this).closest('form').find('.product-single__variants').addClass("current-sel");
          var x = '';
          $(this).closest('form').find('.product-single__variants option').removeAttr('selected');
          $(this).closest('form').find('.product-single__variants option').removeClass('selected');    
          $(this).closest('form').find('.current-sel option').each(function(){
            //$(this).removeAttr('selected');
            var splt_sel_val = $(this).text().trim();
            var sel_val = splt_sel_val.split(' / ')[1];
            console.log(sel_val);
            if(sel_val == val)
            {
              console.log(sel_val);
              console.log('test');
              var new_val = $(this).attr('value');
              $(this).closest('form').find('.hiddenval').attr('value',new_val);
              //$('.current-sel option:selected').removeAttr('selected');
              $(this).attr('selected','selected');
              $(this).addClass('selected');          
            }
          }); 
          // ===============
          count =  count + 1;        
          if(count == 1){        	
            var strx = $(this).parent().parent().next('.product-single__variants').val(); 

            var strxx = $(this).parents(".radio-wrapper").siblings('.hiddenval').attr('value',strx);
            //  alert('----'+strx);
            // console.log(strxx);

          }else{
            //   alert('===----'+strx)
            count =  0;
          }
          
          $(this).closest('form').find('.size_text_enabled #AddToCartText').text('Add to cart');
          $(this).closest('form').find('.size_text_enabled').removeClass('size_text');
        }); 
      }
      {% endif %}

      {% if template == 'product' or template == 'product.custom' or template == 'product.custom2' %}
      $('.product-single__form .radio-wrapper').each(function(){
        if($(this).find('.single-option-selector__radio').length == 1){
          $(this).find('.single-option-selector__radio').parent().addClass('selected-label');
        }
      })
      $(document).on('click touchstart', 'label .single-option-selector__radio', function (){
        $(this).parent().addClass('selected-label');
        $(this).parent().siblings().removeClass('selected-label');
      });
        var ht = $('#main-product-image').height();
      {% endif %}
    });


    
  </script>
  
  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

  {% include 'ajaxify-cart' %}
  
<!--BeginCFFPersistentCartCart-->
{% if customer %}
<script>

    window.cffCustomer = {
        name: '{{customer.name}}',
        email: '{{customer.email}}',
        hasAccount: '{{customer.has_account}}',
        id: '{{customer.id}}'
    };


</script>

{% endif %}

<script>
    window.cffPCLiquidPlaced = true
</script>
  
  

<!--EndCFFPersistentCartCart-->

{% include 'adwords-dynamic-remarketing' %}
  
  {{ 'ajaxinate.js' | asset_url | script_tag }}
  

  {% include 'theme-scientist' %}
  
  <script type="text/javascript">
    window.zESettings = {
      webWidget: {
        chat: {
          connectOnPageLoad: false        
        }
      }
    };
  </script>  
  {{ 'overwrite.scss.css' | asset_url | stylesheet_tag }} 

  
  
 
  
  {% if template.name == "index" %}  
  
 <script src="{{ 'swiper.js' | asset_url }}" ></script>  

 <script>
   var swiper = new Swiper('.swiper-container', {
   	slidesPerView: 'auto',
    spaceBetween:0,
    loop: false,
    grabCursor: true,
    observer: true,
    freeMode: true,  
    observeParents: true,
    navigation: {
      nextEl:'.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
      scrollbar: {
        el: '.swiper-scrollbar',
        hide: true,
        draggable: true,
      }, 
    
    keyboard: {
      enabled: true,
    },
  
   
     
  });  
    
  </script>
  
{% endif %} 
  
  <script>
    $zopim(function() {
      $zopim.livechat.hideAll();
    });
  </script>
  
  
  
   <script src="{{ 'menu-aim.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'menu-main.js' | asset_url }}" defer="defer"></script> 
  <div class="menu-overlay-div"></div>
  
     
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" ></script>
  
  <script>
  AOS.init();
    
    
$(".footer_pos-click .footer-title-mobile").click(function(){
    if($(this).hasClass("active")){
        $(this).removeClass("active");
        $(this).parent('.footer_pos-click').find(".collapsible-content--small-mobile").slideUp();
    }else{
    $(".footer_pos-click .footer-title-mobile").removeClass('active');
    $(".footer_pos-click .collapsible-content--small-mobile").slideUp();
    $(this).addClass("active");
    $(this).parent('.footer_pos-click').find(".collapsible-content--small-mobile").slideDown();
    }
  });
    
</script>
  {% render 'afterpay' %}
</body>
</html>
