

<!-- section/article.template/article-template-featured -->
<style>
  main.main-content{margin-top:100px !important;}
  
</style>
<p></p>
<p></p>
<br>
<div class="article-template-featured">
  <div class="grid"> 
    {% comment %}
    <div class="grid__item large--one-whole grid_btm_pdng">
      <div class="page-title">{{ article.title }}</div>
    </div>
    {% endcomment %}
    {% if article.metafields.c_f.title_link != blank and article.metafields.c_f.title != blank %}
    	<h1 style="text-align: center;"><a href="{{article.metafields.c_f.title_link}}">{{article.metafields.c_f.title}}</a></h1>
    {% endif %}
    {{ article.content }}
    
  </div>
  
  <div class="blog-full-feature">
    {% assign findTag = false %}
    {% assign collectionName = '' %}
    {% assign findTitleTag = false %}
    {% assign collectionTitle = '' %}
    
    {% for tag in article.tags %}
    {% if tag contains 'collection-'%}
    	{% assign findTag = true %}
    	{% assign collectionName = tag | remove :'collection-' %}
    {% endif %}
    
    {% if tag contains "collectionTitle" %}
      {% assign findTitleTag = true %}
      {% assign collectionTitle = tag | remove :'collectionTitle-' %}
    {% endif %}
    
    {% endfor %}
    
   
     
     {% if findTag == true %}
        <div class="content-block">
          <h2 class="new-arrival-title">{% if findTitleTag %} {{collectionTitle}} {% else %}Shop All Full Features{% endif %}</h2>
          <div class="content-block__no-padding content-block__no-padding--border-top grid">
            {% for product in collections[collectionName].products limit:28 %}  
            {% include 'product-grid-item-home' %}
            {% endfor %}
          </div>
        </div>
     
    {% endif %}
  
    
        {% comment %}
        <div class="content-block">
          <h6 class="content-block__title feature-title">Shop All Full Features</h6>
          <div class="content-block__no-padding content-block__no-padding--border-top grid">
            {% for product in collections[section.settings.blog_featured_collection].products limit:28 %}  
            {% include 'product-grid-item-home' %}
            {% endfor %}
          </div>
        </div>
       {% endcomment %}
  </div>
  
</div>


{% schema %}
  {
    "name": "Section name",
    "class": "article-template-featured",
    "settings": [
	  {
        "type": "collection",
        "id": "blog_featured_collection",
        "label": "Blog Feature Collection Template"
      }
    ]
  } 
{% endschema %}

