

{%- if settings.color_footer == settings.color_body_bg -%}
  {%- style -%}
    .site-footer {
      border-top: 1px solid {{ settings.color_borders }};
    }
  {%- endstyle -%}
{%- endif -%}

<footer class="site-footer-new" data-section-id="{{ section.id }}" data-section-type="footer-section" style="background:{{section.settings.footer-bg}}">
  <div class="header-padding">

    <div class="grid tablet-postion">
      {%- assign row_width = 0 -%}
      {%- for block in section.blocks -%}
        {%- assign row_width = row_width | plus: block.settings.container_width -%}
        {%- if row_width > 100 -%}
          <div class="footer__clear small--hide"></div>
          {%- assign row_width = row_width | minus: 100 -%}
        {%- endif -%}

        <div {{ block.shopify_attributes }} class="footer_pos-click grid__item footer__item--{{ block.id }} footer_pos_{{ forloop.index }}" data-type="{{ block.type }}">
          {%- style -%}
    
            @media only screen and (min-width: 768px) {
              .footer__item--{{ block.id }} {
                width: {{ block.settings.container_width }}%;
              }

            }
          
           @media only screen and (max-width: 768px) {
          .footer__item--{{ block.id }}{ width:33.33%;}
          }
          
            @media only screen and (max-width: 767px) {
          .footer__item--{{ block.id }}{ width:100%;}
          }
          
          {%- endstyle -%}

          {%- liquid
            case block.type
          when 'newsletter'
                render 'footer-newsletter', block: block
              when 'menu'
                render 'footer-menu', block: block
            endcase
          -%}
        </div>
      {%- endfor -%}
     
      
      <div class="grid__item">
         <div class="flex flex-space-between footer-copyright">
          <div class="footer-left">
       <ul class="no-bullets social-icons">
          {% if settings.social_instagram_link != blank %}
          <li>
            <a target="_blank" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
           
<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.036 1.97496C13.9826 1.97496 14.3321 1.98592 15.4954 2.0389C16.7517 2.09554 17.9169 2.34583 18.8136 3.23648C19.7102 4.12713 19.9622 5.28452 20.0193 6.53234C20.0726 7.6879 20.0836 8.03503 20.0836 10.9618C20.0836 13.8886 20.0726 14.2358 20.0193 15.3913C19.9622 16.6392 19.7102 17.7965 18.8136 18.6872C17.9169 19.5778 16.7517 19.8281 15.4954 19.8848C14.3321 19.9378 13.9826 19.9487 11.036 19.9487C8.08937 19.9487 7.7399 19.9378 6.57652 19.8848C5.32026 19.8281 4.15504 19.5778 3.25837 18.6872C2.3617 17.7965 2.10971 16.6392 2.05269 15.3913C1.99935 14.2358 1.98831 13.8886 1.98831 10.9618C1.98831 8.03503 1.99935 7.6879 2.05269 6.53234C2.10971 5.28452 2.3617 4.12713 3.25837 3.23648C4.15504 2.34583 5.32026 2.09554 6.57652 2.0389C7.7399 1.98592 8.08937 1.97496 11.036 1.97496ZM11.036 0C8.03879 0 7.66264 0.0127888 6.48547 0.065771C4.69213 0.147071 3.11674 0.583718 1.8522 1.83976C0.587665 3.0958 0.148066 4.66061 0.0662158 6.44191C0.0128753 7.61117 0 7.98478 0 10.9618C0 13.9389 0.0128753 14.3125 0.0662158 15.4818C0.148066 17.2631 0.587665 18.8279 1.8522 20.0839C3.11674 21.34 4.69213 21.7766 6.48547 21.8579C7.66264 21.9109 8.03879 21.9237 11.036 21.9237C14.0332 21.9237 14.4093 21.9109 15.5865 21.8579C17.3798 21.7766 18.9552 21.34 20.2197 20.0839C21.4843 18.8279 21.9239 17.2631 22.0057 15.4818C22.0591 14.3125 22.0719 13.9389 22.0719 10.9618C22.0719 7.98478 22.0591 7.61117 22.0057 6.44191C21.9239 4.66061 21.4843 3.0958 20.2197 1.83976C18.9552 0.583718 17.3798 0.147071 15.5865 0.065771C14.4093 0.0127888 14.0332 0 11.036 0Z" fill="white"/>
<path d="M11.0359 5.33295C7.90625 5.33295 5.3689 7.85326 5.3689 10.9619C5.3689 14.0704 7.90625 16.5908 11.0359 16.5908C14.1655 16.5908 16.7028 14.0704 16.7028 10.9619C16.7028 7.85326 14.1655 5.33295 11.0359 5.33295ZM11.0359 14.6158C9.00433 14.6158 7.35721 12.9797 7.35721 10.9619C7.35721 8.94396 9.00433 7.3079 11.0359 7.3079C13.0674 7.3079 14.7145 8.94396 14.7145 10.9619C14.7145 12.9797 13.0674 14.6158 11.0359 14.6158Z" fill="white"/>
<path d="M16.9273 6.4254C17.6587 6.4254 18.2517 5.83646 18.2517 5.10998C18.2517 4.38349 17.6587 3.79456 16.9273 3.79456C16.1959 3.79456 15.603 4.38349 15.603 5.10998C15.603 5.83646 16.1959 6.4254 16.9273 6.4254Z" fill="white"/>
</svg>


            </a>
          </li>
          {% endif %}
          {% if settings.social_twitter_link != blank %}
          <li>
            <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
             
<svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M22.5627 2.10918C21.735 2.52007 20.9073 2.65704 19.9416 2.794C20.9073 2.24614 21.597 1.42435 21.8729 0.328619C21.0452 0.876483 20.0796 1.15041 18.976 1.42435C18.1483 0.602551 16.9067 0.0546875 15.6652 0.0546875C13.32 0.0546875 11.2508 2.10918 11.2508 4.57456C11.2508 4.98546 11.2508 5.25939 11.3887 5.53332C7.66411 5.39636 4.21536 3.6158 2.00817 0.876483C1.59432 1.56131 1.45637 2.24614 1.45637 3.2049C1.45637 4.71153 2.28407 6.08119 3.52562 6.90298C2.83587 6.90298 2.14612 6.62905 1.45637 6.35512C1.45637 8.54657 2.97382 10.3271 5.04306 10.738C4.62921 10.875 4.21536 10.875 3.80151 10.875C3.52562 10.875 3.24972 10.875 2.97382 10.738C3.52562 12.5186 5.18101 13.8882 7.25026 13.8882C5.73281 15.1209 3.80151 15.8058 1.59432 15.8058C1.18047 15.8058 0.904572 15.8058 0.490723 15.8058C2.55997 17.0385 4.90511 17.8603 7.38821 17.8603C15.6652 17.8603 20.2175 11.012 20.2175 5.12242C20.2175 4.98546 20.2175 4.71153 20.2175 4.57456C21.1832 3.88973 22.0109 3.06794 22.5627 2.10918Z" fill="white"/>
</svg>


            </a>
          </li>
          {% endif %}
          {% if settings.social_pinterest_link != blank %}
          <li>
            <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
              <span class="icon icon-pinterest" aria-hidden="true"></span>
              Pinterest
            </a>
          </li>
          {% endif %}
          {% if settings.social_facebook_link != blank %}
          <li>
            <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
             
<svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.28633 22.8286L4.2547 13.241H0.116211V9.13201H4.2547V6.3927C4.2547 2.69571 6.56054 0.914062 9.88219 0.914062C11.4733 0.914062 12.8408 1.03168 13.2393 1.08424V4.9478L10.9355 4.94884C9.12906 4.94884 8.77927 5.80114 8.77927 7.05183V9.13201H13.9112L12.5317 13.241H8.77926V22.8286H4.28633Z" fill="white"/>
</svg>


            </a>
          </li>
          {% endif %}

          {% if settings.social_snapchat_link != blank %}
          <li>
            <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
              <span class="icon icon-snapchat" aria-hidden="true"></span>
              Snapchat
            </a>
          </li>
          {% endif %}
          {% if settings.social_google_plus_link != blank %}
          <li>
            <a href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
              <span class="icon icon-google_plus" aria-hidden="true"></span>
              Google Plus
            </a>
          </li>
          {% endif %}
          {% if settings.social_tumblr_link != blank %}
          <li>
            <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
              <span class="icon icon-tumblr" aria-hidden="true"></span>
              Tumblr
            </a>
          </li>
          {% endif %}
          {% if settings.social_youtube_link != blank %}
          <li>
            <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
              <span class="icon icon-youtube" aria-hidden="true"></span>
              YouTube
            </a>
          </li>
          {% endif %}
          {% if settings.social_vimeo_link != blank %}
          <li>
            <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
              <span class="icon icon-vimeo" aria-hidden="true"></span>
              Vimeo
            </a>
          </li>
          {% endif %}
          {% if settings.social_fancy_link != blank %}
          <li>
            <a href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
              <span class="icon icon-fancy" aria-hidden="true"></span>
              Fancy
            </a>
          </li>
          {% endif %}
          
          
          
        </ul>
        
            <div class="footer__small-text">
       
        {%- if section.settings.copyright_text != blank -%}
          {{ section.settings.copyright_text }}
        {%- endif -%}
      </div>
        </div>
        
        <div class="footer-right">
          <ul class="flex">
            <li>
<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.7312 17.2636L21.6635 31.6761H17.9534L21.0221 17.2636H24.7312ZM40.3386 26.5696L42.2914 21.158L43.4155 26.5696H40.3386ZM44.478 31.6761H47.9091L44.9142 17.2636H41.7479C41.0357 17.2636 40.4353 17.6795 40.1687 18.3206L34.6025 31.6761H38.4969L39.2707 29.523H44.0298L44.478 31.6761ZM34.7952 26.9703C34.8118 23.1669 29.5618 22.9567 29.5982 21.2574C29.6094 20.7406 30.0993 20.1912 31.1716 20.0504C31.7023 19.9808 33.1682 19.9268 34.8288 20.6949L35.4807 17.6391C34.5874 17.3132 33.4394 17 32.0099 17C28.3435 17 25.7624 18.9593 25.7418 21.7641C25.7174 23.8398 27.5837 24.9965 28.9899 25.6867C30.4345 26.3929 30.9191 26.8462 30.9138 27.4777C30.903 28.4451 29.761 28.8715 28.6934 28.8884C26.8283 28.9174 25.7458 28.3817 24.8833 27.9777L24.2117 31.136C25.0776 31.5357 26.6776 31.8843 28.3369 31.9014C32.2343 31.9014 34.7831 29.9674 34.7952 26.9703ZM19.4302 17.2636L13.4199 31.6761H9.4987L6.54075 20.1739C6.36115 19.4658 6.20557 19.2058 5.65955 18.908C4.76772 18.4212 3.29523 17.9649 2 17.6816L2.08735 17.2636H8.39985C9.20411 17.2636 9.92782 17.8013 10.1106 18.7329L11.6728 27.0733L15.5336 17.2636H19.4302Z" fill="white"/>
</svg>
</li>
            <li>
<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M43.0796 11.3096C43.23 11.3096 43.3809 11.3096 43.5312 11.3106C43.6582 11.3113 43.7852 11.3131 43.9121 11.3164C44.188 11.3238 44.4668 11.34 44.7405 11.3888C45.0141 11.4352 45.2794 11.5218 45.5276 11.6458C46.0262 11.8977 46.4314 12.2998 46.6852 12.7943C46.8106 13.0402 46.898 13.3038 46.9445 13.5759C46.9939 13.847 47.0099 14.1234 47.0173 14.3976C47.0207 14.5232 47.0227 14.649 47.0231 14.7748C47.0242 14.9242 47.0242 15.0736 47.0242 15.2233V35.3723C47.0242 35.5219 47.0242 35.6711 47.0231 35.8209C47.0228 35.9468 47.0208 36.0726 47.0173 36.1984C47.01 36.4719 46.9939 36.7486 46.9445 37.0195C46.8953 37.2949 46.8138 37.551 46.6852 37.801C46.4302 38.2964 46.025 38.6984 45.5276 38.9495C45.2795 39.0739 45.0142 39.1608 44.7405 39.2073C44.4668 39.2558 44.188 39.272 43.9121 39.2795C43.7846 39.2823 43.6579 39.2842 43.5313 39.2847C43.3809 39.2857 43.2299 39.2857 43.0796 39.2857H6.92119C6.77061 39.2857 6.61973 39.2857 6.46938 39.2847C6.34243 39.2839 6.21582 39.2823 6.08887 39.2795C5.81226 39.272 5.5334 39.2558 5.26069 39.2073C4.98306 39.158 4.72505 39.077 4.4729 38.9495C4.22528 38.8248 3.99894 38.6617 3.80229 38.4663C3.60581 38.2717 3.44143 38.0471 3.31528 37.801C3.19014 37.555 3.10278 37.2916 3.05615 37.0195C3.00698 36.7486 2.99043 36.4719 2.98291 36.1984C2.97954 36.0725 2.97793 35.9466 2.97715 35.8209C2.97656 35.6711 2.97656 35.5219 2.97656 35.3723V15.223C2.97656 15.0734 2.97656 14.924 2.97715 14.7751C2.97778 14.6491 2.97969 14.5233 2.98291 14.3976C2.99043 14.1234 3.00669 13.847 3.05615 13.5759C3.10286 13.3038 3.19032 13.0404 3.31558 12.7943C3.57027 12.2987 3.97554 11.8967 4.47314 11.6459C4.72146 11.5218 4.98677 11.4351 5.26045 11.3886C5.5334 11.34 5.81226 11.3236 6.08887 11.3161C6.21582 11.3127 6.34243 11.3114 6.46938 11.3104C6.61973 11.3096 6.77061 11.3096 6.92119 11.3096H43.0796ZM43.0796 12.242H6.92119L6.4749 12.2429C6.35483 12.2434 6.23472 12.2453 6.1147 12.2482C5.90327 12.2539 5.65669 12.2653 5.42651 12.3062C5.24332 12.3365 5.06568 12.394 4.89951 12.4768C4.73996 12.5572 4.59412 12.6624 4.46738 12.7883C4.34058 12.9135 4.23459 13.0582 4.15342 13.2168C4.06983 13.3814 4.01183 13.5578 3.9814 13.7399C3.9396 13.9694 3.92817 14.2137 3.92241 14.4229C3.91929 14.5423 3.91753 14.6617 3.91704 14.7811L3.9165 15.1309V35.4652L3.91729 35.8156C3.91782 35.9348 3.91958 36.0541 3.92266 36.1733C3.92793 36.3818 3.9396 36.6261 3.98115 36.854C4.01155 37.0364 4.06953 37.2131 4.15312 37.378C4.23417 37.5366 4.33999 37.6812 4.4666 37.8065C4.59306 37.9326 4.73874 38.0377 4.89819 38.1181C5.0648 38.2014 5.24298 38.2593 5.42676 38.2897C5.65928 38.3309 5.91631 38.3425 6.1144 38.3477C6.23408 38.3504 6.35386 38.352 6.47358 38.3525C6.6227 38.3536 6.76899 38.3536 6.91543 38.3536H43.0796C43.2276 38.3536 43.3761 38.3536 43.5237 38.3525C43.6481 38.352 43.7691 38.3501 43.8908 38.3475C44.0842 38.3422 44.3413 38.3309 44.5758 38.2894C44.7734 38.254 44.9405 38.1999 45.1003 38.1191C45.4217 37.9575 45.6833 37.698 45.8476 37.378C45.931 37.214 45.9889 37.0382 46.0191 36.8566C46.0606 36.6286 46.0721 36.3832 46.078 36.1731C46.0811 36.0543 46.0827 35.9354 46.0832 35.8167C46.0843 35.6667 46.0843 35.5198 46.0843 35.3726V15.2233C46.0843 15.0761 46.0843 14.9292 46.083 14.7821C46.0827 14.6608 46.0811 14.5419 46.0777 14.4232C46.0721 14.2127 46.0606 13.9675 46.0196 13.7419C45.9837 13.542 45.9294 13.3768 45.848 13.2184C45.6842 12.8985 45.4229 12.6389 45.1018 12.4773C44.9412 12.396 44.7734 12.3418 44.5739 12.3062C44.3439 12.2652 44.0975 12.254 43.8865 12.2482C43.7659 12.2452 43.6452 12.2434 43.5245 12.2428L43.0796 12.242Z" fill="white"/>
<g clip-path="url(#clip0)">
<path d="M24.1349 25.3507V29.1614H22.9531V19.7506H26.0873C26.4614 19.7426 26.8334 19.8105 27.1817 19.9503C27.53 20.0902 27.8478 20.2992 28.1168 20.5653C28.3885 20.8153 28.6047 21.1219 28.7509 21.4645C28.8971 21.807 28.97 22.1777 28.9646 22.5514C28.9723 22.9272 28.9006 23.3002 28.7543 23.645C28.6079 23.9897 28.3905 24.298 28.1168 24.5488C27.5687 25.0834 26.8922 25.3504 26.0873 25.3499H24.1349V25.3507ZM24.1349 20.9092V24.1943H26.1166C26.3339 24.2009 26.5501 24.1611 26.7515 24.0773C26.9528 23.9935 27.1348 23.8676 27.2859 23.7078C27.4362 23.5583 27.5557 23.3795 27.6372 23.182C27.7188 22.9845 27.7608 22.7722 27.7608 22.5578C27.7608 22.3434 27.7188 22.1311 27.6372 21.9336C27.5557 21.7361 27.4362 21.5573 27.2859 21.4078C27.1367 21.2446 26.9553 21.1157 26.7537 21.0296C26.5522 20.9435 26.335 20.9022 26.1166 20.9085H24.1349V20.9092Z" fill="white"/>
<path d="M31.688 22.5123C32.5614 22.5123 33.2509 22.7511 33.7564 23.2287C34.2619 23.7062 34.5144 24.361 34.5139 25.193V29.1614H33.3835V28.2678H33.3321C32.8428 29.0037 32.192 29.3716 31.3797 29.3716C30.6863 29.3716 30.1062 29.1614 29.6394 28.7409C29.4154 28.5479 29.2363 28.3062 29.1151 28.0334C28.994 27.7606 28.9339 27.4636 28.9392 27.164C28.9392 26.4978 29.1853 25.9679 29.6776 25.5744C30.1698 25.181 30.827 24.9837 31.6491 24.9827C32.3508 24.9827 32.9287 25.1141 33.3828 25.3769V25.1006C33.3841 24.8964 33.341 24.6944 33.2566 24.5093C33.1722 24.3243 33.0485 24.1607 32.8947 24.0306C32.5822 23.7422 32.1749 23.5848 31.754 23.5898C31.0939 23.5898 30.5716 23.8747 30.187 24.4443L29.1462 23.7738C29.7187 22.9328 30.5659 22.5123 31.688 22.5123ZM30.1591 27.1903C30.1583 27.3442 30.1934 27.496 30.2616 27.6331C30.3298 27.7703 30.429 27.8888 30.551 27.9787C30.8124 28.1891 31.1368 28.3005 31.4692 28.2941C31.9679 28.2933 32.4459 28.0902 32.7985 27.7295C33.19 27.3525 33.3857 26.9102 33.3857 26.4026C33.0172 26.1023 32.5034 25.9521 31.8443 25.9521C31.3643 25.9521 30.964 26.0705 30.6435 26.3073C30.3198 26.5476 30.1591 26.8397 30.1591 27.1903Z" fill="white"/>
<path d="M41.0021 22.7232L37.0562 32.0003H35.8363L37.3006 28.7543L34.7059 22.7232H35.9904L37.8658 27.3486H37.8915L39.7155 22.7232H41.0021Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.3121 21.9503C15.7667 21.4181 15.0384 21.1268 14.2848 21.1394C12.9066 21.1394 11.7368 22.0897 11.3182 23.3703V23.3714C11.097 24.0427 11.097 24.7696 11.3182 25.4408L11.3175 25.4414H11.318C11.7363 26.7224 12.9063 27.673 14.2848 27.673C14.9989 27.673 15.6095 27.4853 16.0837 27.1565V27.1548C16.3589 26.968 16.5943 26.7262 16.7757 26.4438C16.9571 26.1614 17.0808 25.8444 17.1392 25.5119H14.2847V23.4297H19.2685C19.3295 23.7928 19.36 24.1606 19.3595 24.529C19.3595 26.1742 18.7848 27.5655 17.7873 28.5064H17.7854L17.7874 28.508C16.9118 29.334 15.7109 29.813 14.2848 29.813C13.3052 29.813 12.3449 29.5344 11.5111 29.0084C10.6773 28.4824 10.0028 27.7297 9.56299 26.8343V26.8332C9.19312 26.0801 9.00049 25.249 9.00049 24.4061C9.00049 23.5631 9.1932 22.7318 9.56322 21.9785H9.56348L9.56299 21.9781C10.0028 21.0827 10.6773 20.33 11.5111 19.804C12.3449 19.278 13.3052 18.9994 14.2848 18.9994C15.5969 18.9837 16.864 19.4883 17.8204 20.4073L16.3121 21.9503Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="32" height="13" fill="white" transform="translate(9 19)"/>
</clipPath>
</defs>
</svg>
</li>
             <li>
<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M4.50707 20.5019L3.54518 18.1613L2.58879 20.5019H4.50707ZM25.6973 19.5699C25.5042 19.6869 25.2758 19.6908 25.0021 19.6908H23.2949V18.3868H25.0254C25.2703 18.3868 25.5258 18.3977 25.6918 18.4927C25.8741 18.5782 25.9869 18.7602 25.9869 19.0117C25.9869 19.2683 25.8796 19.4748 25.6973 19.5699ZM37.8766 20.5019L36.9041 18.1613L35.9368 20.5019H37.8766ZM15.1736 23.0352H13.7329L13.7276 18.437L11.6898 23.0352H10.4559L8.41278 18.433V23.0352H5.55443L5.01444 21.7257H2.08834L1.54285 23.0352H0.0164925L2.53311 17.1642H4.6211L7.01127 22.7229V17.1642H9.30497L11.1442 21.147L12.8337 17.1642H15.1735V23.0352H15.1736ZM20.9157 23.0352H16.221V17.1642H20.9157V18.3868H17.6264V19.445H20.8368V20.6485H17.6264V21.821H20.9157V23.0352ZM27.5351 18.7454C27.5351 19.6814 26.9094 20.165 26.5448 20.3103C26.8523 20.4271 27.1149 20.6336 27.24 20.8047C27.4384 21.0967 27.4726 21.3575 27.4726 21.8819V23.0352H26.0552L26.0498 22.2948C26.0498 21.9416 26.0837 21.4335 25.828 21.1511C25.6226 20.9446 25.3096 20.8998 24.8037 20.8998H23.2951V23.0352H21.8898V17.1642H25.1222C25.8404 17.1642 26.3696 17.1831 26.8239 17.4454C27.2685 17.7076 27.5351 18.0905 27.5351 18.7454ZM29.7841 23.0352H28.3501V17.1642H29.7841V23.0352ZM46.4199 23.0352H44.4284L41.7646 18.6287V23.0352H38.9025L38.3556 21.7257H35.4362L34.9056 23.0352H33.2612C32.578 23.0352 31.7132 22.8844 31.2234 22.3859C30.7295 21.8874 30.4725 21.2122 30.4725 20.1445C30.4725 19.2738 30.6261 18.4778 31.2301 17.8488C31.6844 17.3802 32.3959 17.1642 33.3644 17.1642H34.7249V18.4222H33.3929C32.8801 18.4222 32.5905 18.4983 32.3115 18.77C32.0719 19.0172 31.9075 19.4845 31.9075 20.0999C31.9075 20.7289 32.0327 21.1824 32.2939 21.4787C32.5103 21.711 32.9035 21.7815 33.2734 21.7815H33.9045L35.8852 17.1643H37.991L40.3703 22.7176V17.1643H42.5101L44.9804 21.2532V17.1643H46.4199V23.0352ZM0.00017734 24.1884H2.40135L2.94276 22.8844H4.15487L4.69487 24.1884H9.41936V23.1914L9.84107 24.1927H12.2937L12.7154 23.1766V24.1884H24.4566L24.4511 22.0478H24.6783C24.8374 22.0533 24.8838 22.068 24.8838 22.3303V24.1884H30.9565V23.6901C31.4463 23.9522 32.2081 24.1884 33.2106 24.1884H35.7654L36.3121 22.8844H37.5242L38.0589 24.1884H42.982V22.9497L43.7275 24.1884H47.6726V16H43.7683V16.9671L43.2216 16H39.2153V16.9671L38.7133 16H33.3018C32.3959 16 31.5997 16.1263 30.9565 16.4781V16H27.2221V16.4781C26.8128 16.1155 26.255 16 25.6349 16H11.9917L11.0762 18.1149L10.1362 16H5.83888V16.9671L5.36681 16H1.70192L0 19.8932V24.1884H0.00017734ZM50 28.519H47.4387C47.183 28.519 47.0131 28.5286 46.87 28.6251C46.7217 28.7202 46.6646 28.8614 46.6646 29.0476C46.6646 29.2692 46.7898 29.4199 46.9719 29.485C47.1202 29.5366 47.2794 29.5516 47.5135 29.5516L48.2752 29.572C49.0438 29.5909 49.5568 29.7229 49.8697 30.0446C49.9266 30.0894 49.9608 30.1397 50 30.19V28.519ZM50 32.3907C49.6586 32.8892 48.9934 33.1419 48.0929 33.1419H45.3789V31.8826H48.0819C48.35 31.8826 48.5377 31.8474 48.6506 31.7372C48.7485 31.6464 48.8168 31.5144 48.8168 31.3542C48.8168 31.1831 48.7485 31.0473 48.6451 30.9658C48.5432 30.8762 48.3947 30.8355 48.15 30.8355C46.8304 30.7907 45.1842 30.8762 45.1842 29.0179C45.1842 28.1661 45.7258 27.2695 47.2005 27.2695H49.9998V26.1011H47.399C46.6141 26.1011 46.0439 26.2888 45.6401 26.5807V26.1011H41.7931C41.1779 26.1011 40.4558 26.2534 40.1142 26.5807V26.1011H33.2445V26.5807C32.6978 26.1868 31.7752 26.1011 31.3494 26.1011H26.8181V26.5807C26.3855 26.1624 25.4237 26.1011 24.8374 26.1011H19.766L18.6055 27.3552L17.5186 26.1011H9.94304V34.2952H17.376L18.5718 33.0213L19.6983 34.2952L24.28 34.2993V32.3717H24.7304C25.3384 32.3811 26.0553 32.3567 26.6879 32.0836V34.295H30.467V32.1594H30.6493C30.882 32.1594 30.9049 32.1689 30.9049 32.4011V34.2949H42.3851C43.1139 34.2949 43.8758 34.1086 44.2977 33.7705V34.2949H47.9391C48.6969 34.2949 49.437 34.1888 50 33.9171V32.3907ZM44.3941 30.0446C44.6678 30.3274 44.8144 30.6844 44.8144 31.2888C44.8144 32.5522 44.024 33.1419 42.6067 33.1419H39.8695V31.8826H42.5957C42.8623 31.8826 43.0513 31.8474 43.1698 31.7372C43.2664 31.6464 43.3358 31.5144 43.3358 31.3542C43.3358 31.1831 43.2608 31.0473 43.1643 30.9658C43.0568 30.8762 42.9086 30.8355 42.6638 30.8355C41.3496 30.7907 39.7037 30.8762 39.7037 29.0179C39.7037 28.1661 40.2396 27.2695 41.713 27.2695H44.5303V28.5194H41.9524C41.6968 28.5194 41.5306 28.529 41.3893 28.6255C41.2354 28.7206 41.1783 28.8617 41.1783 29.048C41.1783 29.2695 41.309 29.4202 41.4858 29.4854C41.634 29.5369 41.7933 29.552 42.0327 29.552L42.7892 29.5723C43.5521 29.5909 44.0758 29.7227 44.3941 30.0446ZM31.713 29.682C31.525 29.7933 31.2925 29.8029 31.0191 29.8029H29.3118V28.484H31.0423C31.2925 28.484 31.5429 28.4893 31.713 28.5901C31.8951 28.6852 32.004 28.867 32.004 29.1183C32.004 29.3696 31.8951 29.572 31.713 29.682ZM32.5617 30.4128C32.8746 30.5281 33.1303 30.7347 33.2502 30.9058C33.4486 31.1925 33.4773 31.4601 33.483 31.9777V33.1419H32.0721V32.4071C32.0721 32.0538 32.1061 31.5307 31.8449 31.2577C31.6396 31.0473 31.3266 30.997 30.8139 30.997H29.312V33.1419H27.8998V27.2694H31.1444C31.8559 27.2694 32.3741 27.3007 32.8354 27.5465C33.2789 27.8141 33.5578 28.1806 33.5578 28.8505C33.5577 29.7879 32.9317 30.2662 32.5617 30.4128ZM34.3371 27.2694H39.0275V28.4838H35.7366V29.5514H38.9472V30.7496H35.7366V31.918L39.0275 31.9233V33.1419H34.3371V27.2694ZM24.8553 29.9795H23.0392V28.484H24.8716C25.379 28.484 25.7312 28.6905 25.7312 29.204C25.7312 29.7119 25.3953 29.9795 24.8553 29.9795ZM21.6394 32.6078L19.4817 30.2157L21.6394 27.8996V32.6078ZM16.0673 31.918H12.612V30.7496H15.6973V29.5514H12.612V28.4838H16.1354L17.6725 30.1952L16.0673 31.918ZM27.24 29.204C27.24 30.8353 26.0211 31.1721 24.7927 31.1721H23.0392V33.1419H20.3076L18.5771 31.1978L16.7787 33.1419H11.2121V27.2694H16.8644L18.5935 29.1943L20.381 27.2694H24.8716C25.9869 27.2694 27.24 27.5777 27.24 29.204Z" fill="white"/>
</svg>
</li>
             <li>
<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M43.0793 11.3094C43.2297 11.3094 43.3807 11.3094 43.531 11.3105C43.658 11.3111 43.7849 11.313 43.9118 11.3162C44.1877 11.3236 44.4666 11.3398 44.7402 11.3886C45.0139 11.435 45.2791 11.5216 45.5274 11.6457C46.026 11.8975 46.4312 12.2996 46.685 12.7941C46.8104 13.0401 46.8978 13.3036 46.9442 13.5757C46.9937 13.8468 47.0097 14.1232 47.0171 14.3974C47.0205 14.523 47.0225 14.6488 47.0229 14.7746C47.024 14.924 47.024 15.0735 47.024 15.2231V35.3721C47.024 35.5217 47.024 35.6709 47.0229 35.8207C47.0225 35.9466 47.0206 36.0724 47.0171 36.1983C47.0097 36.4718 46.9936 36.7484 46.9442 37.0194C46.895 37.2947 46.8135 37.5508 46.685 37.8008C46.43 38.2963 46.0248 38.6983 45.5274 38.9493C45.2792 39.0737 45.0139 39.1606 44.7402 39.2071C44.4666 39.2556 44.1877 39.2718 43.9118 39.2794C43.7844 39.2821 43.6577 39.284 43.5311 39.2845C43.3807 39.2856 43.2297 39.2856 43.0793 39.2856H6.92095C6.77036 39.2856 6.61948 39.2856 6.46914 39.2845C6.34219 39.2837 6.21558 39.2821 6.08862 39.2793C5.81201 39.2718 5.53315 39.2556 5.26045 39.2071C4.98281 39.1578 4.7248 39.0768 4.47266 38.9493C4.22503 38.8246 3.9987 38.6615 3.80205 38.4661C3.60557 38.2715 3.44119 38.0469 3.31504 37.8008C3.18989 37.5548 3.10254 37.2914 3.05591 37.0194C3.00674 36.7484 2.99019 36.4718 2.98267 36.1983C2.9793 36.0723 2.97769 35.9464 2.9769 35.8207C2.97632 35.6709 2.97632 35.5217 2.97632 35.3721V15.2229C2.97632 15.0732 2.97632 14.9238 2.9769 14.7749C2.97754 14.6489 2.97944 14.5232 2.98267 14.3974C2.99019 14.1232 3.00645 13.8468 3.05591 13.5757C3.10262 13.3037 3.19008 13.0402 3.31533 12.7942C3.57002 12.2986 3.9753 11.8965 4.4729 11.6457C4.72122 11.5216 4.98652 11.4349 5.2602 11.3884C5.53315 11.3398 5.81201 11.3234 6.08862 11.3159C6.21558 11.3126 6.34219 11.3112 6.46914 11.3102C6.61948 11.3094 6.77036 11.3094 6.92095 11.3094H43.0793ZM43.0793 12.2419H6.92095L6.47466 12.2427C6.35459 12.2432 6.23447 12.2451 6.11445 12.248C5.90303 12.2537 5.65645 12.2651 5.42627 12.306C5.24307 12.3363 5.06544 12.3938 4.89927 12.4766C4.73972 12.5571 4.59388 12.6622 4.46714 12.7881C4.34033 12.9133 4.23434 13.058 4.15317 13.2166C4.06959 13.3812 4.01158 13.5576 3.98115 13.7397C3.93936 13.9693 3.92793 14.2135 3.92217 14.4227C3.91904 14.5421 3.91728 14.6615 3.9168 14.7809L3.91626 15.1307V35.4651L3.91704 35.8154C3.91758 35.9346 3.91934 36.0539 3.92241 36.1732C3.92769 36.3817 3.93936 36.6259 3.98091 36.8538C4.0113 37.0362 4.06929 37.2129 4.15288 37.3778C4.23393 37.5364 4.33975 37.6811 4.46636 37.8063C4.59282 37.9324 4.7385 38.0376 4.89795 38.1179C5.06456 38.2013 5.24273 38.2591 5.42651 38.2895C5.65903 38.3307 5.91606 38.3423 6.11416 38.3475C6.23384 38.3502 6.35361 38.3518 6.47334 38.3523C6.62246 38.3534 6.76875 38.3534 6.91519 38.3534H43.0793C43.2274 38.3534 43.3759 38.3534 43.5235 38.3523C43.6478 38.3518 43.7689 38.3499 43.8906 38.3473C44.0839 38.342 44.341 38.3307 44.5755 38.2892C44.7732 38.2538 44.9403 38.1997 45.1001 38.119C45.4214 37.9573 45.6831 37.6978 45.8473 37.3778C45.9308 37.2138 45.9886 37.038 46.0188 36.8565C46.0604 36.6284 46.0718 36.383 46.0777 36.1729C46.0809 36.0541 46.0825 35.9352 46.083 35.8165C46.084 35.6665 46.084 35.5197 46.084 35.3724V15.2231C46.084 15.0759 46.084 14.929 46.0827 14.7819C46.0825 14.6606 46.0809 14.5417 46.0775 14.423C46.0718 14.2125 46.0604 13.9673 46.0194 13.7417C45.9835 13.5419 45.9291 13.3766 45.8478 13.2182C45.684 12.8983 45.4226 12.6387 45.1016 12.4772C44.9409 12.3958 44.7732 12.3416 44.5737 12.306C44.3437 12.2651 44.0973 12.2538 43.8863 12.248C43.7656 12.245 43.645 12.2432 43.5243 12.2426L43.0793 12.2419ZM14.5545 20.7532C14.1678 21.2037 13.5547 21.5606 12.941 21.5079C12.8612 20.8987 13.1681 20.2506 13.5147 19.8535C13.9012 19.3896 14.5681 19.0589 15.1147 19.0319C15.1814 19.6676 14.9281 20.2899 14.5545 20.7532ZM15.1078 21.6269C15.4537 21.6532 16.4508 21.7589 17.0893 22.6957C17.036 22.7354 15.9056 23.3822 15.9188 24.7421C15.9321 26.3657 17.3548 26.9071 17.3682 26.9204C17.3548 26.96 17.1427 27.6861 16.6238 28.4385C16.1717 29.0986 15.706 29.7453 14.9614 29.7585C14.2432 29.7717 14.0037 29.3362 13.1795 29.3362C12.355 29.3362 12.0892 29.7453 11.4106 29.7717C10.6926 29.7979 10.1477 29.0719 9.69546 28.4118C8.76401 27.0786 8.05942 24.6496 9.01694 23.0126C9.48262 22.1942 10.3336 21.6794 11.2509 21.6662C11.9559 21.6532 12.6077 22.1285 13.0333 22.1285C13.4589 22.1285 14.2163 21.574 15.1078 21.6269ZM23.9922 19.787C25.929 19.787 27.2779 21.1115 27.2779 23.0399C27.2779 24.9751 25.9013 26.3066 23.9438 26.3066H21.7995V29.6902H20.2501V19.787H23.9922ZM21.7995 25.0163H23.5771C24.9263 25.0163 25.6938 24.2958 25.6938 23.0468C25.6938 21.798 24.9261 21.084 23.584 21.084H21.7995V25.0163ZM27.6623 27.638C27.6623 26.3684 28.6376 25.6409 30.4359 25.5311L32.3659 25.4144V24.8653C32.3659 24.0626 31.8334 23.6234 30.8857 23.6234C30.1038 23.6234 29.5365 24.0213 29.4194 24.6319H28.0218C28.0636 23.3488 29.2808 22.4155 30.9273 22.4155C32.698 22.4155 33.8532 23.3351 33.8532 24.7626V29.69H32.4214V28.5027H32.3869C31.9787 29.278 31.0792 29.7652 30.1038 29.7652C28.6652 29.7652 27.6623 28.9145 27.6623 27.638ZM32.3659 26.9999V26.4439L30.6436 26.5537C29.6749 26.6154 29.1704 26.9722 29.1704 27.5966C29.1704 28.2006 29.6959 28.5919 30.519 28.5919C31.5702 28.5919 32.3659 27.9261 32.3659 26.9999ZM35.1696 32.3387V31.1517C35.2666 31.1652 35.5014 31.1789 35.6261 31.1789C36.3108 31.1789 36.6982 30.8912 36.9334 30.1495L37.0718 29.7105L34.45 22.5048H36.0686L37.8949 28.3517H37.9295L39.7556 22.5048H41.3328L38.6143 30.0741C37.9916 31.8106 37.2791 32.3803 35.7713 32.3803C35.6536 32.3803 35.2731 32.3665 35.1696 32.3387Z" fill="white"/>
</svg>
</li>
             <li>
<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M46.3894 41.2084V41.2983H46.4711C46.4905 41.2983 46.5057 41.2945 46.5167 41.2872C46.5277 41.28 46.5334 41.2685 46.5334 41.2528C46.5334 41.2379 46.5277 41.2268 46.5167 41.2195C46.5057 41.2122 46.4905 41.2084 46.4711 41.2084H46.3894ZM46.4726 41.1453C46.5156 41.1453 46.5486 41.1548 46.5718 41.174C46.5954 41.1935 46.6071 41.2195 46.6071 41.2528C46.6071 41.2807 46.5973 41.3041 46.579 41.3221C46.5604 41.34 46.5342 41.3511 46.5 41.3554L46.6098 41.4828H46.5235L46.4221 41.3561H46.3894V41.4828H46.3172V41.1453H46.4726ZM46.4513 41.5987C46.4901 41.5987 46.5266 41.5911 46.5596 41.5766C46.5938 41.5616 46.6227 41.5413 46.6486 41.5157C46.674 41.4904 46.6938 41.4602 46.7078 41.4258C46.7227 41.3913 46.7299 41.3546 46.7299 41.3152C46.7299 41.2761 46.7227 41.2394 46.7078 41.205C46.6938 41.1705 46.674 41.1403 46.6486 41.1146C46.6227 41.0894 46.5938 41.0691 46.5596 41.0546C46.5266 41.04 46.4901 41.0327 46.4513 41.0327C46.4118 41.0327 46.3746 41.04 46.34 41.0546C46.3058 41.0691 46.2754 41.0894 46.2499 41.1146C46.2252 41.1403 46.2051 41.1705 46.1903 41.205C46.1762 41.2394 46.169 41.2761 46.169 41.3152C46.169 41.3546 46.1762 41.3913 46.1903 41.4258C46.2051 41.4602 46.2252 41.4904 46.2499 41.5157C46.2754 41.5413 46.3058 41.5616 46.34 41.5766C46.3746 41.5911 46.4118 41.5987 46.4513 41.5987ZM46.4513 40.9516C46.5015 40.9516 46.5498 40.9612 46.5942 40.9803C46.6387 40.9991 46.6774 41.0251 46.7109 41.0584C46.7443 41.0913 46.7705 41.1299 46.7899 41.174C46.8085 41.2183 46.8184 41.2654 46.8184 41.3152C46.8184 41.3653 46.8085 41.412 46.7899 41.456C46.7705 41.5 46.7443 41.5387 46.7109 41.5716C46.6774 41.6045 46.6387 41.6305 46.5942 41.65C46.5498 41.6692 46.5015 41.6787 46.4513 41.6787C46.3993 41.6787 46.3506 41.6692 46.3058 41.65C46.2606 41.6305 46.2214 41.6045 46.1884 41.5716C46.1549 41.5387 46.1295 41.5 46.1101 41.456C46.0911 41.412 46.0812 41.3653 46.0812 41.3152C46.0812 41.2654 46.0911 41.2183 46.1101 41.174C46.1295 41.1299 46.1549 41.0913 46.1884 41.0584C46.2214 41.0251 46.2606 40.9991 46.3058 40.9803C46.3506 40.9612 46.3993 40.9516 46.4513 40.9516ZM12.564 39.6527C12.564 39.0102 12.982 38.4821 13.666 38.4821C14.3196 38.4821 14.7601 38.9872 14.7601 39.6527C14.7601 40.3186 14.3196 40.8238 13.666 40.8238C12.982 40.8238 12.564 40.2957 12.564 39.6527ZM15.5049 39.6527V37.8238H14.7145V38.2678C14.464 37.9387 14.084 37.732 13.5672 37.732C12.5488 37.732 11.7512 38.5357 11.7512 39.6527C11.7512 40.7702 12.5488 41.5739 13.5672 41.5739C14.084 41.5739 14.464 41.3672 14.7145 41.0381V41.482H15.5049V39.6527ZM42.193 39.6527C42.193 39.0102 42.611 38.4821 43.295 38.4821C43.9482 38.4821 44.3891 38.9872 44.3891 39.6527C44.3891 40.3186 43.9482 40.8238 43.295 40.8238C42.611 40.8238 42.193 40.2957 42.193 39.6527ZM45.1339 39.6527V36.3547H44.3434V38.2678C44.0926 37.9387 43.7126 37.732 43.1962 37.732C42.1778 37.732 41.3798 38.5357 41.3798 39.6527C41.3798 40.7702 42.1778 41.5739 43.1962 41.5739C43.7126 41.5739 44.0926 41.3672 44.3434 41.0381V41.482H45.1339V39.6527ZM25.3079 38.4438C25.8171 38.4438 26.1435 38.7653 26.2271 39.3317H24.3427C24.4263 38.8035 24.7455 38.4438 25.3079 38.4438ZM25.3231 37.732C24.2591 37.732 23.5142 38.5127 23.5142 39.6527C23.5142 40.8161 24.2895 41.5739 25.3763 41.5739C25.9235 41.5739 26.4247 41.4357 26.8655 41.0611L26.4779 40.4717C26.1739 40.7166 25.7867 40.8544 25.4219 40.8544C24.9127 40.8544 24.4491 40.6171 24.3351 39.9589H27.0327C27.0403 39.8594 27.0479 39.7599 27.0479 39.6527C27.0403 38.5127 26.3411 37.732 25.3231 37.732ZM34.8597 39.6527C34.8597 39.0102 35.2777 38.4821 35.9617 38.4821C36.6153 38.4821 37.0561 38.9872 37.0561 39.6527C37.0561 40.3186 36.6153 40.8238 35.9617 40.8238C35.2777 40.8238 34.8597 40.2957 34.8597 39.6527ZM37.8009 39.6527V37.8238H37.0105V38.2678C36.7597 37.9387 36.3797 37.732 35.8629 37.732C34.8445 37.732 34.0468 38.5357 34.0468 39.6527C34.0468 40.7702 34.8445 41.5739 35.8629 41.5739C36.3797 41.5739 36.7597 41.3672 37.0105 41.0381V41.482H37.8009V39.6527ZM30.3992 39.6527C30.3992 40.7626 31.1668 41.5739 32.3368 41.5739C32.884 41.5739 33.2488 41.4514 33.644 41.1376L33.264 40.4947C32.9676 40.709 32.656 40.8238 32.314 40.8238C31.6832 40.8161 31.22 40.3569 31.22 39.6527C31.22 38.949 31.6832 38.4897 32.314 38.4821C32.656 38.4821 32.9676 38.5969 33.264 38.8112L33.644 38.1683C33.2488 37.8545 32.884 37.732 32.3368 37.732C31.1668 37.732 30.3992 38.5433 30.3992 39.6527ZM40.5822 37.732C40.1262 37.732 39.8298 37.9463 39.6245 38.2678V37.8238H38.8417V41.482H39.6322V39.4312C39.6322 38.8265 39.8906 38.4897 40.4074 38.4897C40.567 38.4897 40.7342 38.5127 40.9014 38.5816L41.1446 37.8315C40.9694 37.7626 40.7414 37.732 40.5822 37.732ZM19.411 38.1147C19.0309 37.8621 18.5065 37.732 17.9289 37.732C17.0097 37.732 16.4169 38.1759 16.4169 38.903C16.4169 39.4997 16.8577 39.8671 17.6705 39.9819L18.0429 40.0354C18.4761 40.0967 18.6813 40.2115 18.6813 40.4181C18.6813 40.7013 18.3925 40.8621 17.8529 40.8621C17.3061 40.8621 16.9109 40.686 16.6449 40.4794L16.2725 41.0993C16.7057 41.4204 17.2529 41.5739 17.8453 41.5739C18.8941 41.5739 19.5022 41.0764 19.5022 40.3799C19.5022 39.7369 19.0233 39.4005 18.2329 39.2857L17.8605 39.2322C17.5185 39.1862 17.2453 39.1174 17.2453 38.8724C17.2453 38.6045 17.5033 38.4438 17.9365 38.4438C18.4001 38.4438 18.8485 38.6198 19.0689 38.7576L19.411 38.1147ZM29.6012 37.732C29.1452 37.732 28.8488 37.9463 28.6439 38.2678V37.8238H27.8611V41.482H28.6511V39.4312C28.6511 38.8265 28.9096 38.4897 29.4264 38.4897C29.586 38.4897 29.7532 38.5127 29.9204 38.5816L30.1636 37.8315C29.9888 37.7626 29.7608 37.732 29.6012 37.732ZM22.861 37.8238H21.569V36.7144H20.771V37.8238H20.0342V38.551H20.771V40.2191C20.771 41.0687 21.0978 41.5739 22.0326 41.5739C22.3746 41.5739 22.7698 41.4663 23.0202 41.2907L22.7926 40.6095C22.557 40.7473 22.2986 40.8161 22.0934 40.8161C21.6982 40.8161 21.569 40.5712 21.569 40.2038V38.551H22.861V37.8238ZM11.052 41.482V39.1862C11.052 38.3213 10.5048 37.7396 9.62317 37.732C9.15994 37.7243 8.68113 37.8698 8.34673 38.3826C8.09593 37.9769 7.70072 37.732 7.14591 37.732C6.75831 37.732 6.37868 37.8468 6.08228 38.2754V37.8238H5.29187V41.482H6.08988V39.4541C6.08988 38.8189 6.43948 38.4821 6.97871 38.4821C7.50312 38.4821 7.76912 38.8265 7.76912 39.4465V41.482H8.56713V39.4541C8.56713 38.8189 8.93194 38.4821 9.45596 38.4821C9.99557 38.4821 10.254 38.8265 10.254 39.4465V41.482H11.052Z" fill="white"/>
<path d="M31.1185 9.9458H19.1483V31.609H31.1185V9.9458Z" fill="#6D6D6D"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.9083 20.777C19.9083 16.3825 21.9516 12.4683 25.1334 9.94561C22.8062 8.10101 19.8703 7 16.679 7C9.12416 7 3 13.1683 3 20.777C3 28.3862 9.12416 34.5541 16.679 34.5541C19.8703 34.5541 22.8062 33.4534 25.1334 31.6088C21.9516 29.0861 19.9083 25.1719 19.9083 20.777Z" fill="#363636"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M47.2671 20.777C47.2671 28.3862 41.1429 34.5541 33.588 34.5541C30.3967 34.5541 27.4604 33.4534 25.1337 31.6088C28.3154 29.0861 30.3587 25.1719 30.3587 20.777C30.3587 16.3825 28.3154 12.4683 25.1337 9.94561C27.4604 8.10101 30.3967 7 33.588 7C41.1429 7 47.2671 13.1683 47.2671 20.777Z" fill="#999999"/>
</svg>
</li>
             <li>
<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M33.035 19H29.4567C29.2121 19 29.0039 19.1797 28.9658 19.4237L27.5188 28.6855C27.4903 28.8683 27.63 29.0335 27.8134 29.0335H29.6494C29.8205 29.0335 29.9665 28.9079 29.993 28.737L30.4034 26.1113C30.4416 25.8673 30.6498 25.6876 30.8946 25.6876H32.0268C34.3836 25.6876 35.7437 24.5362 36.0993 22.2542C36.2593 21.2562 36.1057 20.4719 35.6427 19.9229C35.1339 19.3192 34.2321 19 33.035 19ZM33.448 22.3826C33.2524 23.6792 32.2716 23.6792 31.3226 23.6792H30.783L31.1615 21.2584C31.1845 21.112 31.3095 21.0042 31.4561 21.0042H31.7036C32.3494 21.0042 32.9596 21.0042 33.274 21.3756C33.4623 21.598 33.519 21.9274 33.448 22.3826Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.51502 19H3.93693C3.69233 19 3.48408 19.1797 3.4458 19.4237L1.99881 28.6855C1.97034 28.8683 2.11025 29.0335 2.29358 29.0335H4.00206C4.24665 29.0335 4.45491 28.854 4.49318 28.61L4.88363 26.1113C4.92175 25.8673 5.13 25.6876 5.3746 25.6876H6.50688C8.86376 25.6876 10.2239 24.5362 10.5795 22.2542C10.7395 21.2562 10.5859 20.4719 10.1231 19.9229C9.61396 19.3192 8.71196 19 7.51502 19ZM7.92799 22.3826C7.73244 23.6792 6.75148 23.6792 5.80284 23.6792H5.26299L5.64155 21.2584C5.66454 21.112 5.78934 21.0042 5.93616 21.0042H6.18365C6.82948 21.0042 7.4396 21.0042 7.75399 21.3756C7.94214 21.598 7.99907 21.9274 7.92799 22.3826Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.2091 22.3412H16.496C16.3491 22.3412 16.2242 22.449 16.2012 22.5954L16.1259 23.079L16.0061 22.9038C15.635 22.3602 14.8081 22.1785 13.9823 22.1785C12.0895 22.1785 10.4724 23.6266 10.1577 25.6574C9.9938 26.6705 10.2263 27.6389 10.7955 28.3147C11.3183 28.9356 12.0644 29.1941 12.9534 29.1941C14.479 29.1941 15.3254 28.2045 15.3254 28.2045L15.2489 28.6853C15.2201 28.8681 15.36 29.0335 15.5435 29.0335H17.0865C17.3311 29.0335 17.5392 28.854 17.5774 28.6101L18.5037 22.6892C18.5323 22.5063 18.3924 22.3412 18.2091 22.3412ZM15.8214 25.7077C15.6559 26.6959 14.8787 27.3593 13.8874 27.3593C13.3905 27.3593 12.9926 27.198 12.737 26.8925C12.4835 26.5897 12.3882 26.1582 12.4686 25.6777C12.6228 24.6983 13.4125 24.0134 14.3887 24.0134C14.8751 24.0134 15.2702 24.1762 15.5309 24.4847C15.7934 24.7952 15.8965 25.2295 15.8214 25.7077Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M43.7294 22.3412H42.0162C41.8694 22.3412 41.7445 22.449 41.7216 22.5954L41.6462 23.079L41.5264 22.9038C41.1553 22.3602 40.3284 22.1785 39.5026 22.1785C37.6096 22.1785 35.9927 23.6266 35.6781 25.6574C35.5142 26.6705 35.7468 27.6389 36.3159 28.3147C36.8387 28.9356 37.5849 29.1941 38.4739 29.1941C39.9995 29.1941 40.8459 28.2045 40.8459 28.2045L40.7693 28.6853C40.7405 28.8681 40.8804 29.0335 41.0639 29.0335H42.6069C42.8515 29.0335 43.0596 28.854 43.0979 28.6101L44.0242 22.6892C44.0528 22.5063 43.9127 22.3412 43.7294 22.3412ZM41.3418 25.7077C41.1763 26.6959 40.3993 27.3593 39.408 27.3593C38.9109 27.3593 38.5133 27.198 38.2574 26.8925C38.0041 26.5897 37.9086 26.1582 37.989 25.6777C38.1434 24.6983 38.9328 24.0134 39.909 24.0134C40.3954 24.0134 40.7905 24.1762 41.0514 24.4847C41.3137 24.7952 41.4167 25.2295 41.3418 25.7077Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M27.3353 22.3406H25.6132C25.4485 22.3406 25.2944 22.4232 25.2018 22.5607L22.8263 26.0925L21.8194 22.6986C21.7564 22.4862 21.5628 22.3405 21.3433 22.3405H19.6504C19.446 22.3405 19.3022 22.5434 19.368 22.7388L21.2643 28.3576L19.4807 30.8979C19.3406 31.0974 19.482 31.3732 19.7242 31.3732H21.4446C21.6076 31.3732 21.7602 31.2925 21.8532 31.1571L27.5804 22.8132C27.7174 22.6137 27.5759 22.3406 27.3353 22.3406Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M45.7491 19.2542L44.2804 28.6855C44.252 28.8681 44.3919 29.0334 44.575 29.0334H46.0521C46.2967 29.0334 46.505 28.8538 46.5432 28.6098L47.9912 19.348C48.0198 19.1653 47.8799 19 47.6966 19H46.0439C45.8969 18.9998 45.772 19.1078 45.7491 19.2542Z" fill="white"/>
</svg>
</li>
        <li>
<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M43.0796 11.3096C43.23 11.3096 43.3809 11.3096 43.5312 11.3106C43.6582 11.3113 43.7852 11.3131 43.9121 11.3164C44.188 11.3238 44.4668 11.34 44.7405 11.3888C45.0141 11.4352 45.2794 11.5218 45.5276 11.6458C46.0262 11.8977 46.4314 12.2998 46.6852 12.7943C46.8106 13.0402 46.898 13.3038 46.9445 13.5759C46.9939 13.847 47.0099 14.1234 47.0173 14.3976C47.0207 14.5232 47.0227 14.649 47.0231 14.7748C47.0242 14.9242 47.0242 15.0736 47.0242 15.2233V35.3723C47.0242 35.5219 47.0242 35.6711 47.0231 35.8209C47.0228 35.9468 47.0208 36.0726 47.0173 36.1984C47.01 36.4719 46.9939 36.7486 46.9445 37.0195C46.8953 37.2949 46.8138 37.551 46.6852 37.801C46.4302 38.2964 46.025 38.6984 45.5276 38.9495C45.2795 39.0739 45.0142 39.1608 44.7405 39.2073C44.4668 39.2558 44.188 39.272 43.9121 39.2795C43.7846 39.2823 43.6579 39.2842 43.5313 39.2847C43.3809 39.2857 43.2299 39.2857 43.0796 39.2857H6.92119C6.77061 39.2857 6.61973 39.2857 6.46938 39.2847C6.34243 39.2839 6.21582 39.2823 6.08887 39.2795C5.81226 39.272 5.5334 39.2558 5.26069 39.2073C4.98306 39.158 4.72505 39.077 4.4729 38.9495C4.22528 38.8248 3.99894 38.6617 3.80229 38.4663C3.60581 38.2717 3.44143 38.0471 3.31528 37.801C3.19014 37.555 3.10278 37.2916 3.05615 37.0195C3.00698 36.7486 2.99043 36.4719 2.98291 36.1984C2.97954 36.0725 2.97793 35.9466 2.97715 35.8209C2.97656 35.6711 2.97656 35.5219 2.97656 35.3723V15.223C2.97656 15.0734 2.97656 14.924 2.97715 14.7751C2.97778 14.6491 2.97969 14.5233 2.98291 14.3976C2.99043 14.1234 3.00669 13.847 3.05615 13.5759C3.10286 13.3038 3.19032 13.0404 3.31558 12.7943C3.57027 12.2987 3.97554 11.8967 4.47314 11.6459C4.72146 11.5218 4.98677 11.4351 5.26045 11.3886C5.5334 11.34 5.81226 11.3236 6.08887 11.3161C6.21582 11.3127 6.34243 11.3114 6.46938 11.3104C6.61973 11.3096 6.77061 11.3096 6.92119 11.3096H43.0796ZM43.0796 12.242H6.92119L6.4749 12.2429C6.35483 12.2434 6.23472 12.2453 6.1147 12.2482C5.90327 12.2539 5.65669 12.2653 5.42651 12.3062C5.24332 12.3365 5.06568 12.394 4.89951 12.4768C4.73996 12.5572 4.59412 12.6624 4.46738 12.7883C4.34058 12.9135 4.23459 13.0582 4.15342 13.2168C4.06983 13.3814 4.01183 13.5578 3.9814 13.7399C3.9396 13.9694 3.92817 14.2137 3.92241 14.4229C3.91929 14.5423 3.91753 14.6617 3.91704 14.7811L3.9165 15.1309V35.4652L3.91729 35.8156C3.91782 35.9348 3.91958 36.0541 3.92266 36.1733C3.92793 36.3818 3.9396 36.6261 3.98115 36.854C4.01155 37.0364 4.06953 37.2131 4.15312 37.378C4.23417 37.5366 4.33999 37.6812 4.4666 37.8065C4.59306 37.9326 4.73874 38.0377 4.89819 38.1181C5.0648 38.2014 5.24298 38.2593 5.42676 38.2897C5.65928 38.3309 5.91631 38.3425 6.1144 38.3477C6.23408 38.3504 6.35386 38.352 6.47358 38.3525C6.6227 38.3536 6.76899 38.3536 6.91543 38.3536H43.0796C43.2276 38.3536 43.3761 38.3536 43.5237 38.3525C43.6481 38.352 43.7691 38.3501 43.8908 38.3475C44.0842 38.3422 44.3413 38.3309 44.5758 38.2894C44.7734 38.254 44.9405 38.1999 45.1003 38.1191C45.4217 37.9575 45.6833 37.698 45.8476 37.378C45.931 37.214 45.9889 37.0382 46.0191 36.8566C46.0606 36.6286 46.0721 36.3832 46.078 36.1731C46.0811 36.0543 46.0827 35.9354 46.0832 35.8167C46.0843 35.6667 46.0843 35.5198 46.0843 35.3726V15.2233C46.0843 15.0761 46.0843 14.9292 46.083 14.7821C46.0827 14.6608 46.0811 14.5419 46.0777 14.4232C46.0721 14.2127 46.0606 13.9675 46.0196 13.7419C45.9837 13.542 45.9294 13.3768 45.848 13.2184C45.6842 12.8985 45.4229 12.6389 45.1018 12.4773C44.9412 12.396 44.7734 12.3418 44.5739 12.3062C44.3439 12.2652 44.0975 12.254 43.8865 12.2482C43.7659 12.2452 43.6452 12.2434 43.5245 12.2428L43.0796 12.242Z" fill="white"/>
<path d="M27.7131 23.8377C27.7131 25.7685 26.3842 27.1468 24.5272 27.1468H22.7776C22.7582 27.1468 22.7391 27.1507 22.7213 27.1582C22.7034 27.1658 22.6873 27.1768 22.6736 27.1908C22.66 27.2047 22.6492 27.2213 22.6419 27.2395C22.6346 27.2577 22.6308 27.2772 22.6309 27.2969V29.8345C22.6309 29.8741 22.6155 29.9122 22.588 29.9403C22.5606 29.9684 22.5233 29.9843 22.4843 29.9845H21.26C21.2309 29.9844 21.2025 29.9755 21.1783 29.959C21.1541 29.9425 21.1353 29.9191 21.1241 29.8917C21.1167 29.8738 21.1128 29.8546 21.1127 29.8352V20.6781C21.1126 20.6584 21.1163 20.6389 21.1236 20.6207C21.131 20.6025 21.1417 20.5859 21.1554 20.572C21.169 20.558 21.1852 20.547 21.203 20.5394C21.2209 20.5319 21.24 20.528 21.2593 20.528H24.535C26.3842 20.5258 27.7131 21.9041 27.7131 23.8377ZM26.1863 23.8377C26.1863 22.7277 25.4432 21.9164 24.4353 21.9164H22.7776C22.7582 21.9164 22.7391 21.9203 22.7213 21.9278C22.7034 21.9354 22.6873 21.9465 22.6736 21.9604C22.66 21.9744 22.6492 21.9909 22.6419 22.0091C22.6346 22.0273 22.6308 22.0468 22.6309 22.0665V25.6003C22.6309 25.6399 22.6464 25.6779 22.6739 25.7059C22.7014 25.7339 22.7387 25.7496 22.7776 25.7496H24.4353C25.4432 25.7569 26.1863 24.9449 26.1863 23.8377ZM28.0762 28.2278C28.0635 27.9317 28.1236 27.637 28.2511 27.3706C28.3787 27.1042 28.5696 26.8745 28.8065 26.7023C29.2841 26.3362 30.0307 26.147 31.1269 26.1078L32.2942 26.0658V25.7148C32.2942 25.0116 31.8316 24.7143 31.0885 24.7143C30.3454 24.7143 29.8742 24.9826 29.766 25.4212C29.7571 25.452 29.7385 25.479 29.713 25.4979C29.6875 25.5168 29.6565 25.5266 29.625 25.5256H28.4719C28.4507 25.5262 28.4296 25.522 28.4101 25.5134C28.3907 25.5047 28.3733 25.4918 28.3593 25.4755C28.3453 25.4592 28.335 25.44 28.3291 25.4192C28.3232 25.3984 28.3219 25.3766 28.3253 25.3552C28.4961 24.3155 29.3453 23.5252 31.1411 23.5252C33.0516 23.5252 33.7413 24.4315 33.7413 26.1615V29.8345C33.741 29.8745 33.725 29.9128 33.697 29.9409C33.669 29.969 33.6312 29.9847 33.5919 29.9845H32.4295C32.3906 29.9844 32.3533 29.9688 32.3256 29.941C32.312 29.9271 32.3012 29.9106 32.2939 29.8924C32.2865 29.8743 32.2828 29.8548 32.2829 29.8352V29.5604C32.2833 29.5377 32.2769 29.5154 32.2647 29.4964C32.2524 29.4775 32.2348 29.4627 32.2141 29.4542C32.1935 29.4456 32.1707 29.4436 32.149 29.4485C32.1272 29.4533 32.1074 29.4648 32.0921 29.4814C31.7433 29.8678 31.1803 30.1469 30.2785 30.1469C28.9517 30.1469 28.0762 29.4437 28.0762 28.2278ZM32.2942 27.4317V27.1468L30.7824 27.228C29.9859 27.2693 29.5225 27.6064 29.5225 28.1741C29.5225 28.6875 29.9475 28.9717 30.6899 28.9717C31.6985 28.9717 32.2942 28.417 32.2942 27.4317ZM34.9087 32.7599V31.6956C34.9089 31.6733 34.9139 31.6513 34.9234 31.6312C34.9329 31.6111 34.9467 31.5933 34.9636 31.5792C34.9806 31.5651 35.0004 31.555 35.0217 31.5495C35.0429 31.5441 35.0651 31.5434 35.0866 31.5477C35.2646 31.5818 35.4461 31.5992 35.6276 31.5999C35.9396 31.6154 36.2477 31.5237 36.5026 31.3397C36.7575 31.1557 36.9444 30.8899 37.0334 30.5849L37.1088 30.3398C37.1198 30.3069 37.1198 30.2712 37.1088 30.2383L34.6866 23.9015C34.6778 23.8786 34.6747 23.8538 34.6774 23.8293C34.6801 23.8048 34.6886 23.7814 34.7022 23.761C34.7158 23.7406 34.7341 23.7238 34.7554 23.7122C34.7767 23.7006 34.8005 23.6944 34.8247 23.6942H35.9991C36.0291 23.6945 36.0584 23.704 36.083 23.7215C36.1076 23.7389 36.1265 23.7635 36.1372 23.7921L37.7822 28.2611C37.7925 28.2908 37.8116 28.3165 37.8368 28.3347C37.8621 28.3529 37.8922 28.3627 37.9231 28.3627C37.954 28.3627 37.9842 28.3529 38.0094 28.3347C38.0347 28.3165 38.0538 28.2908 38.0641 28.2611L39.4926 23.8044C39.5025 23.7739 39.5216 23.7474 39.5472 23.7287C39.5728 23.7099 39.6035 23.6999 39.635 23.7H40.85C40.8744 23.7001 40.8983 23.7063 40.9198 23.7179C40.9413 23.7295 40.9597 23.7463 40.9735 23.7667C40.9873 23.7871 40.996 23.8107 40.9989 23.8353C41.0018 23.8599 40.9989 23.8849 40.9902 23.9081L38.3993 30.9452C37.8028 32.5809 36.78 32.9992 35.6539 32.9992C35.4404 33.005 35.2268 32.9789 35.0204 32.9216C34.9861 32.9124 34.9561 32.8911 34.9356 32.8615C34.9152 32.832 34.9056 32.796 34.9087 32.7599ZM13.2452 20.0002C11.7021 19.989 10.2135 20.5805 9.08549 21.6532C9.03725 21.6982 9.00718 21.7599 9.00113 21.8262C8.99508 21.8926 9.01348 21.9588 9.05275 22.0121L9.75102 22.9837C9.77365 23.016 9.80298 23.0429 9.83692 23.0625C9.87086 23.082 9.9086 23.0938 9.94747 23.0969C9.98635 23.1 10.0254 23.0944 10.062 23.0805C10.0985 23.0665 10.1316 23.0446 10.1589 23.0163C10.5645 22.6033 11.0468 22.2767 11.5777 22.0558C12.1086 21.8348 12.6774 21.7238 13.2509 21.7294C15.6454 21.7294 16.896 23.5651 16.896 25.3777C16.896 27.3483 15.582 28.7346 13.6936 28.7621C12.2345 28.7621 11.1347 27.7768 11.1347 26.4754C11.1363 26.1466 11.2094 25.8223 11.3489 25.5258C11.4883 25.2292 11.6906 24.9679 11.9412 24.7607C11.9942 24.7156 12.0277 24.6512 12.0345 24.5812C12.0412 24.5112 12.0208 24.4413 11.9775 24.3866L11.2437 23.4426C11.2215 23.414 11.1939 23.3903 11.1625 23.3728C11.1312 23.3553 11.0967 23.3444 11.0612 23.3406C11.0256 23.3369 10.9897 23.3405 10.9555 23.3512C10.9213 23.3618 10.8896 23.3794 10.8621 23.4027C10.4114 23.7726 10.0477 24.2405 9.7977 24.7722C9.54767 25.3039 9.41765 25.8859 9.41719 26.4754C9.41719 28.7157 11.2864 30.4732 13.6808 30.4877H13.7129C16.5558 30.45 18.6114 28.3054 18.6114 25.3741C18.6114 22.7712 16.7294 20.0002 13.2459 20.0002H13.2452Z" fill="white"/>
</svg>
            </li>    
            
          </ul>
        </div>
             </div>
      </div>
      
    </div>

 


   
  

   

  </div>
</footer>

<style>
.site-footer-new{ text-align:left; padding:34px 0 20px;}
ul.no-bullets.site-footer__linklist li a {    color: #E6E7E8; font-family: 'Roboto', sans-serif ; font-size:15px; letter-spacing:0;font-weight: 400 !important;}
ul.no-bullets.site-footer__linklist li a:hover{ text-decoration:underline;}  
.footer__collapsible ul.site-footer__linklist li {    margin-bottom: 7px;}
  .footer__title {color:#fff; line-height:28px; font-family: 'Roboto Condensed', sans-serif; font-size:15px; letter-spacing:1px; font-weight:700; margin:0 0 11px; padding:0; text-transform:uppercase;}
.footer__title.footer__title-newsltter {    font-size: 22px; font-weight:700; margin: 0 0 25px;   letter-spacing: 0;    text-transform: capitalize;}
.newsletter-term{color:#E6E7E8; font-family: 'Roboto', sans-serif ; font-size:12px; line-height:17px;}  
.newsletter-term a{color:#E6E7E8; text-decoration:underline;}
.footer__small-text{color:#E6E7E8; font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px;}
.footer-right ul {    margin: 0;    padding: 0;    list-style: none;} 
.footer-right ul li{    margin: 0;  margin-left:8px;   padding: 0;    list-style: none;} 
.footer__item-newsltter {
    max-width: 399px;
    margin-left: auto;
}  
.footer-left ul.no-bullets.social-icons li {    margin-right: 12px;}
.footer-left ul.no-bullets.social-icons {    margin:0 0 18px;} 
  .footer-left ul.no-bullets.social-icons li a path{ fill: #fff;}  
.footer-left ul.no-bullets.social-icons li a:hover path {    fill: #F0F0F0;}  
  
#email_signup_header {    max-width: 100% !important;    width: 100%; margin:0 0 32px;}  
input#k_id_email {padding-left:15px;  font-size:16px !important; margin-right: 13px; font-weight:400 !important; font-family: 'Roboto', sans-serif ; 
  height: 50px; width:calc(100% - 111px);    border-radius: 0px;    background: transparent;    color: #E6E7E8;    outline: 0;}  
#mc-embedded-subscribe-kla{height:50px; font-size:13px; color:#000; width:111px; letter-spacing:1px; background:#fff; font-family: 'Roboto Condensed', sans-serif; font-weight:700; opacity:1;}  
  #mc-embedded-subscribe-kla:hover{background:#F0F0F0;}  
  
input#k_id_email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #E6E7E8; opacity:1;
}
input#k_id_email::-moz-placeholder { /* Firefox 19+ */
 color: #E6E7E8; opacity:1;
}
input#k_id_email:-ms-input-placeholder { /* IE 10+ */
color: #E6E7E8; opacity:1;
}
input#k_id_email:-moz-placeholder { /* Firefox 18- */
color: #E6E7E8; opacity:1;
}  
 .footer-copyright {    margin-top: 80px;} 
  
.footer__item-newsltter .error_message {    margin: 12px 0 0 !important;    padding: 0px !important;    color: #ED8B8E !important;    font-size: 14px !important;    line-height: 22px !important;}  
.footer__item-newsltter .success_message {
   margin: 12px 0 0 !important;    padding: 0px !important;  font-size: 14px !important;    line-height: 22px !important;
    color: #8ECBC4;
}  
 
  
@media(max-width:768px){
.tablet-postion{ 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
	 flex-flow: row wrap; 
  -ms-flex-flow: row wrap;
}  
  
.footer_pos_4 {order:-1; width:100%;} 
.footer__item-newsltter {    max-width: 436px;     margin-bottom: 52px;   margin-left: 0;}
.footer__title.footer__title-newsltter{margin-bottom:23px;}  
.footer-copyright{-webkit-flex-flow: row wrap;	 flex-flow: row wrap;   -ms-flex-flow: row wrap;}
.footer-left {width: 100%;}  
.footer-right {width: 100%;}  
.footer-right ul li{margin-left:0; margin-right:8px;} 
.footer-left ul.no-bullets.social-icons {    margin: 0;}  
.footer__small-text {    padding: 17px 0 10px;}  
.footer-copyright {    margin-top: 70px;}  
}
  
@media(min-width:768px){    
.footer__title{pointer-events:none;}  
.collapsible-content--small-mobile{display:block !important;}  
}
  
  
@media(max-width:767px){  
.footer__item-newsltter{max-width:100%;}  
input#k_id_email {width:100%; margin:0; margin-bottom:10px;}
#mc-embedded-subscribe-kla{width:100%;}
.klaviyo-cover.flex{    -webkit-flex-flow: row wrap;	 flex-flow: row wrap;   -ms-flex-flow: row wrap;}
  .footer__title.footer__title-newsltter {    margin-bottom: 21px;}
  .collapsible-content--small-mobile{display:none;}  
 .footer-title-mobile {    margin: 0;    padding: 10px 0; position:relative;    border-bottom: 1px solid #FFFFFF; cursor:pointer;} 
  .footer-title-mobile:after, .footer-title-mobile:before{content:""; width:12px; background:#fff; position:absolute; right:0; top:24px; height:1px;} 
 .footer-title-mobile:before {    transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg);} 
  
  .footer-title-mobile.active:before{opacity:0;}
  
  .footer__item-newsltter{margin-bottom:36px;} 
  .footer-copyright {    margin-top: 60px;}
  .footer-right svg {
    width: 35px;
    height: auto;
}
  
.footer-title-mobile.active {    border-bottom: transparent solid 1px;} 
  
}
  
</style>


{% schema %}
  {
    "name": "Footer",
    "max_blocks": 12,
    "settings": [
      {
       "type": "color",
       "id": "footer-bg",
       "label": "Background",
       "default": "#000000"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Additional copyright text"
      }
     
    ],
    "blocks": [
    
      {
        "type": "menu",
        "name": "Navigation",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 100,
            "unit": "%"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers)."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sign up and save"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "info": "Optional",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 100,
            "unit": "%"
          }
        ]
      }
      
    ],
    "default": {
      "settings": {},
      "blocks": [
       
      ]
    }
  }
{% endschema %}
