<div class="section-space "  data-section-id="{{ section.id }}">
  <div class="header-padding">
    {%- if section.settings.title != blank -%}
    <h2 class="section-header__title_cus">{{ section.settings.title | escape }}</h2>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
    <div class="Image-block-bar image-bar--{{ section.id }}">
      {%- for block in section.blocks -%}
      <div class="Image-block-loop class_{{block.settings.theme}} image-loop--{{ block.id }} "  data-aos="fade-zoom-in"
           data-aos-easing="ease-in-back"
           data-aos-delay="300"
           data-aos-offset="0">
        {% if block.settings.image != blank %}
        <a href="{{block.settings.btn_link}}" >
          <div class="image-block-loop-cover">
            {% assign image = block.settings.image %}
            {% assign imageSrc = image | img_url: '1024x' | replace: '_1024x.', '_{width}x.' %}
            <img 
                 class="blur-up lazyload image"
                 src="{{ image | img_url: '30x' }}"
                 data-src="{{ imageSrc }}"
                 data-widths="[300,600,800,1024]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 tabindex="-1"
                 alt="{{ image.alt | escape }}"> 
            <div class="hero__image--overlay"></div>
          </div>
        </a>
        {% endif %}
        <div class="image-block-loop-content pos--{{block.settings.text-postion}}">
          {% if block.settings.heading != blank  %} <h3>{{block.settings.heading}}</h3> {% endif  %}
          {% if block.settings.btn_link != blank  %}
          <a href="{{block.settings.btn_link}}" class="btn-hero">{{block.settings.btn-text}}</a>  
          {% endif  %}
        </div>

      </div>
      {%- endfor -%}
    </div>
    {%- endif -%}
  </div>
</div>

<style>
  {%- for block in section.blocks -%}
   .image-loop--{{ block.id }} .btn-hero:hover{ background:{{block.settings.btn_bgh}}; color:{{block.settings.btn_text_colorh}}; }  
  {%- endfor -%}
  
  @media(min-width:1921px){
    .Image-block-loop h3{ font-size: 30px;}
  }

  .Image-block-loop h3{ font-size: 26px; line-height:38px; max-width: 472px;
    letter-spacing:0px; margin:0; font-family: 'Roboto Condensed', sans-serif; font-weight: 700;} 

  .Image-block-loop .btn-hero{display:inline-block; 
    font-size:13px;  font-family: 'Roboto Condensed', sans-serif; font-weight: 700;
    text-transform:uppercase; padding:13.5px 30px; letter-spacing:1px; margin-top:6px; border-radius:1px;
  }  



  .Image-block-bar h3{color:#000;}
  .Image-block-loop .btn-hero{background:#000; color:#fff;}
  .Image-block-loop .btn-hero:hover{background:#555555; color: #fff;}


  .Image-block-bar  .class_light.Image-block-loop  h3{color:#fff;}
  .class_light.Image-block-loop .btn-hero{background:#fff; color:#000;}
  .class_light.Image-block-loop .btn-hero:hover{background:#F0F0F0; color: #000;}



  @media(max-width:768px){ 
    .Image-block-loop h3{font-size:24px;}
    .Image-block-loop .btn-hero{font-size:13px; margin-top:3px; padding: 14px 30px;}
  }

  .image-block-loop-content.pos--top{top:0; bottom:auto;}

  .section-header__title_cus{
    font-size: 32px;color:{{section.settings.heading_color}}; line-height:38px; 
    letter-spacing:0px; margin:0; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; padding:0 0 16px;
  }
  .Image-block-loop img{display:block;}
  .Image-block-bar{grid-template-columns: repeat(2, 1fr); grid-gap: 10px 16px; display:grid;}
  .Image-block-loop{position:relative;}
  .image-block-loop-content{position:absolute; left:0; right:0; bottom:0; padding:30px; box-sizing:border-box;}
  .image-block-loop-cover{position:relative;}
  .hero__image--overlay {
    position:absolute;  left:0; right:0; top:0; bottom:0; width:100%;
    {% assign bg_color = section.settings.caption_background %}
    {% assign number = section.settings.caption_background_opacity %}
    {% assign caption_background_opacity = number | divided_by: 100.0 %}
    {% if section.settings.caption_background == 'rgba(0,0,0,0)' %}
    background: transparent;
    {% else %}
    background: {{ bg_color | color_modify: 'alpha', caption_background_opacity }};
    {% endif %}
  }

  @media(min-width:1921px){
    .image-block-loop-content{padding:40px;}
  }

  @media(max-width:768px){
    .section-header__title_cus{font-size:26px; padding:0 0 6px;}  
    .image-block-loop-content{padding:20px;}  
  }  
  @media(max-width:767px){
    .image-block-loop-content{padding:12px;}
    .section-header__title_cus{font-size:26px; padding:0 0 10px;}  
    .Image-block-bar{grid-template-columns: repeat(1, 1fr); grid-gap: 10px 12px; display:grid;}  
  }  
</style>

 
{% schema %}
  {
    "name": "Image list",
    "class": "index-section",
    "max_blocks": 2,
    "settings": [
       
      {
       "type": "text",
       "id": "title",
       "label": "Heading"
      },
      {
       "type": "color",
       "id": "heading_color",
       "label": "Heading Color",
       "default": "#000"
      },
      
      {
       "type":"color",
       "id": "caption_background",
       "label":"Overlay Background",
       "default":"transparent"
      },
  	  {
       "type":"range",
       "id": "caption_background_opacity",
       "min":10,
       "max":100,
       "step":1,
       "unit":"%",
       "label":"Overlay Background opacity",
       "default":20
       }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Image",
        "settings": [
          {
      "type": "radio",
      "id": "theme",
      "label": "Theme Color",
      "options": [
           { "value": "dark", "label": "Dark Theme " },
           { "value": "light", "label": "Light Theme" }
         ],
         "default": "dark"
	      },  
            {
      "type": "radio",
      "id": "text-postion",
      "label": "Content Postion",
      "options": [
           { "value": "top", "label": "Left Top " },
           { "value": "bottom", "label": "Left Bottom" }
         ],
         "default": "bottom"
	      },   
          {
           "type":"image_picker",
           "id":"image",
           "label":"Image"
          },
         
         
          {
           "type":"text",
           "id":"heading",
           "label":"Heading",
           "default":"Adidas By Pharell Williams “Black Ambition” Pack"
          },
          {
           "type":"text",
           "id": "btn-text",
           "label": "Button Text",
           "default": "Shop Now"
          },
          {
           "type":"url",
           "id": "btn_link",
           "label": "Button link"
          }
          
        ]
      }
    ],
    "presets": [
      {
        "name": "Image list",
        "category": "Image"
   
      }
    ]
  }
{% endschema %}
