<div id="featured-product" data-section-id="{{ section.id }}" class="featured-product-color_{{ section.id }}">
<div class="section-space">
<div class="header-padding">
  <div class="flex flex-space-between flex-align flex-break title-space">
     {%- if section.settings.title != blank -%}
      <h2 class="new-arrival-title"> {{ section.settings.title | escape }}</h2>
  	{%- endif -%}
    
    {% if section.settings.btn_link != blank  %}
    <a href="{{section.settings.btn_link}}" class="btn-hero-border btn-hero-border-hide">{{section.settings.btn-text}}</a>  
    {% endif  %}
    </div>
  

  {%- assign collection = collections[section.settings.collection] -%}

 


  <div class="grid grid--uniform grid_new_design-cover swiper-container">
    <div class="swiper-wrapper">
    {% for product in collection.products limit: 12 %}
   {% include 'product-grid-item-home-slide', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
   
   
    {% else %}

      {% for i in (1..product_limit) %}
        <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
          <div class="grid-view-item product-card">
            <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="#">
              <span class="visually-hidden">{{ 'homepage.onboarding.product_title' | t }}</span>
            </a>
            <div class="grid-view-item__image-wrapper">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            <div class="h4 grid-view-item__title" aria-hidden="true">{{ 'homepage.onboarding.product_title' | t }}</div>
            {% include 'product-price' %}
          </div>
        </li>
      {% endfor %}
    {% endfor %}
      </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-defult"><span class="circle-arrow"> {% include'arrow-cus' %}</span></div>
    <div class="swiper-button-prev swiper-button-defult"> <span class="circle-arrow">{% include'arrow-cus-prev' %}</span></div>
    <!-- Add Pagination -->
    <div class="swiper-scrollbar"></div>
  
  </div>

    {% if section.settings.btn_link != blank  %}
 	 <div class="text-center">
    <a href="{{section.settings.btn_link}}" class="btn-hero btn-hero-fill-desktop">{{section.settings.btn-text}}</a>  
  </div>
    {% endif  %}

</div>
</div>
</div>





<style>
  
  .swiper-scrollbar{max-width:860px; margin:0 auto;}
  
 
.title-space {margin-bottom:13px;}  
  
  

.new-arrival-title{font-size:32px; 
font-family: 'Roboto Condensed', sans-serif; letter-spacing:0px; text-transform:capitalize; margin:0; padding:0; font-weight:700;
  color:{{section.settings.heading_color}};}
.grid_new_design-cover{margin:0 -8px !important;}
  
.grid_new_design{padding-left:15px;}
.grid_new_design {    margin-bottom: 25px;}
.grid_new_design .product-single__form { position:relative !important; display:block !important;    top:0 !important;    transform: none !important;    left: 0px !important;    right: 0px !important;}
.full-with-btn{width:100% !important; margin:0px !important}
.full-with-btn button{width:100% !important; height:47px !important;font-size:13px; text-transform:uppercase; font-weight:700; font-family: 'Roboto Condensed', sans-serif;}

.grid_new_design .grid-product__meta{text-align:left;}
.vendor_grid{font-size:13px; font-weight:700; text-transform:uppercase; color:#888888; font-family: 'Roboto Condensed', sans-serif; letter-spacing:1px;}
.grid-product__grid{font-size:14px; line-height:22px; font-family: 'Roboto', sans-serif; font-weight:400;  color:#000; letter-spacing:0; display:block;}
.grid_new_design .grid-product__price{font-size:14px;font-family: 'Roboto', sans-serif; font-weight:400;  color:#000; letter-spacing:0;}
.grid_new_design fieldset {  text-align:left;  padding:10px 0px !important;      min-height: inherit !important;  margin: 0px !important;}
.grid_new_design fieldset label { background:transparent !important; border:0px !important;  padding: 0px !important;  padding-right: 12px !important;     margin: 0px !important;    font-size: 14px !important;    font-family: 'Roboto', sans-serif;
    font-weight: 400;    text-align: left; color:#000;}

.grid_new_design fieldset label.disabled {    display: none;}
.grid_new_design .grid_size-full .radio-wrapper .single-option-radio label.selected-label{  font-size: 14px !important; font-weight:700; border:0px !important;}

.grid-hover-div{position:relative;}
.grid-hover-div-cover {  opacity:0;  position: absolute; top:0; transition: all 0.5s ease;   bottom: 0;    left: 0;    right: 0;    background: #fff;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.grid_new_design .size_text{pointer-events:none; background:#555555;}
.grid_new_design .is-adding{background:#000; color:#fff;}

.grid-product__wrapper:hover .grid-hover-div-cover{opacity:1;}

.large-btn-cover .btn-large-custom {    font-size: 13px;    height: 47px;    padding: 14px 30px;}
  
  .grid_size-full  {width:100%; margin:0 0 6px; padding:0;}
  .right-col.grid_size-full li label {
    font-size: 14px;font-family: 'Roboto', sans-serif; font-weight:400;
    letter-spacing: 0;
}
.grid__image {margin: 0 auto 7px;}
  
 #featured-product .btn-hero-border{font-size:13px; color:{{section.settings.btn_text_color}}; border-bottom:{{section.settings.btn_text_color}} solid 2px;
  letter-spacing:1px;font-family: 'Roboto Condensed', sans-serif; font-weight: 700; text-transform:uppercase;}
 #featured-product .btn-hero-border:hover{color:{{section.settings.btn_text_colorh}};  border-bottom:{{section.settings.btn_text_colorh}} solid 2px;} 
  

.grid_new_design.swiper-slide {width: calc(25% - 16px) !important;    margin:0 8px;    padding:0;  }     
.swiper-container-horizontal > .swiper-scrollbar {position: inherit; left:12px; bottom:0; z-index: 50; height: 4px; opacity: 1 !important;}  
.grid-hover-div {margin-bottom:65px;}
.swiper-button-defult:after{display:none;}  
.swiper-button-defult{background:#fff; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); width:44px; height:44px; border-radius:50%;     top: calc(50% - 94px);}  
.swiper-button-defult .circle-arrow {line-height:normal; position:relative; top: 3px;}
  


.featured-product-color_{{ section.id }} .btn-hero{display:inline-block; background:{{section.settings.btn_bgm}}; color:{{section.settings.btn_text_colorm}}; 
 font-family: 'Roboto Condensed', sans-serif; font-weight: 700; font-size:13px;
  text-transform:uppercase; padding:14px 30px; letter-spacing:1px; margin-top:17px;
}  
.featured-product-color_{{ section.id }} .btn-hero:hover{ background:{{section.settings.btn_bghm}}; color:{{section.settings.btn_text_colorhm}}; }  
.second-img-hover {opacity: 0;}     
  
.image-collection {    padding-bottom: 100%;    position: relative;}  
  .image-collection img{position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
  }  
  
  
#ComparePrice{color:#888;letter-spacing:0; font-family: 'Roboto', sans-serif;     font-weight: 400;}  
#ComparePrice span{color:#888; letter-spacing:0; font-family: 'Roboto', sans-serif;     font-weight: 400;} 
  
@media(min-width:769px){  
.grid-product__wrapper:hover .second-img-hover {opacity: 1;}  
}
  
  
@media(max-width:768px){  
.grid-product__wrapper:hover .grid-hover-div-cover{opacity:0;}  
.grid_new_design.swiper-slide {width: calc(50% - 16px) !important;    }  
.grid-hover-div {margin-bottom:38px;}  
.title-space {margin-bottom:7px;}  
.new-arrival-title{font-size:26px;}  
.swiper-button-defult{width:37px; height:37px;} 
    .swiper-scrollbar{max-width:420px; margin:0 auto;}
} 
  
@media(min-width:768px){  
  .featured-product-color_{{ section.id }} .btn-hero-fill-desktop{display:none;}  
}
  
@media(max-width:767px){
.new-arrival-title{font-size:22px;}  
.grid-hover-div {margin-bottom:28px;}    
.grid_new_design-cover{margin:0 -5px !important;}  
.grid_new_design.swiper-slide {width: calc(50% - 10px) !important;   margin:0 5px;   }   
.featured-product-color_{{ section.id }} .btn-hero-border-hide{display:none;}  
.vendor_grid{font-size:10px; }
.new-arrival-title{font-size:26px;}
.grid-product__grid{font-size:12px; line-height:17px;}
.grid_new_design .grid-product__price{font-size:12px;}
.large-btn-cover .btn-large-custom {    font-size: 13px !important;    height: 46px;    padding: 14px 30px !important;}
.grid_new_design{width:50%;}
.swiper-button-defult{display:none;}
.featured-product-color_{{ section.id }} .btn-hero{margin-top:36px;}
.swiper-container-horizontal > .swiper-scrollbar{height:3px;}  
}
  
  
</style>

{% schema %}
{
  "name": {
    "cs": "Propagovaná kolekce",
    "da": "Udvalgt kollektion",
    "de": "Vorgestellte Kategorie",
    "en": "Featured collection Grid",
    "es": "Colección destacada",
    "fi": "Esittelyssä oleva kokoelma",
    "fr": "Collection en vedette",
    "it": "Collezione in evidenza",
    "ja": "特集コレクション",
    "ko": "추천 컬렉션",
    "nb": "Utvalgt samling",
    "nl": "Uitgelichte collectie",
    "pl": "Polecana kolekcja",
    "pt-BR": "Coleção em destaque",
    "pt-PT": "Coleção em destaque",
    "sv": "Utvald kollektion",
    "th": "คอลเลกชันแนะนำ",
    "tr": "Öne çıkan koleksiyon",
    "vi": "Bộ sưu tập nổi bật",
    "zh-CN": "特色产品系列",
    "zh-TW": "精選商品系列"
  },
  "class": "index-section",
  "settings": [
    {
     "type": "color",
     "id": "heading_color",
     "label": "Heading Color",
     "default": "#000"
    },
    
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Propagovaná kolekce",
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Fremhevet samling",
        "nl": "Uitgelichte collectie",
        "pl": "Polecana kolekcja",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "tr": "Öne çıkan koleksiyon",
        "vi": "Bộ sưu tập nổi bật",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      }
    },
    {
      "id": "collection",
      "type": "collection",
      "label": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    },
   
    {
     "type": "text",
     "id": "btn-text",
     "label": "Button Text",
     "default": "Shop Now"
    },
    {
     "type": "url",
     "id": "btn_link",
     "label": "Button link"
    },
   
    {
     "type": "color",
     "id": "btn_text_color",
     "label": "Button Text Color",
     "default": "#888"
    },
    {
     "type": "color",
     "id": "btn_text_colorh",
     "label": "Button Text Color Hover",
     "default": "#000"
    },
    {
    "type": "header",
    "content": "Mobile"
	}, 
    {
     "type": "color",
     "id": "btn_text_colorm",
     "label": "Mobile Button Text Color",
     "default": "#000"
    },
    {
     "type": "color",
     "id": "btn_bgm",
     "label": "Mobile Button Background",
     "default": "#fff"
    },
    {
     "type": "color",
     "id": "btn_text_colorhm",
     "label": "Mobile Button Text Color Hover",
     "default": "#000"
     },
     {
      "type": "color",
      "id": "btn_bghm",
      "label": "Mobile Button Background Hover",
      "default": "#F0F0F0"
     }
    
  ],
  "presets": [
    {
      "name": {
        "cs": "Propagovaná kolekce",
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured collection Grid",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Utvalgt samling",
        "nl": "Uitgelichte collectie",
        "pl": "Polecana kolekcja",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "tr": "Öne çıkan koleksiyon",
        "vi": "Bộ sưu tập nổi bật",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      },
      "category": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }
  ]
}
{% endschema %}
