<!-- /templates/product.liquid -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };
  jQuery(document).ready(function($){         
    $(document).on('click', '.slick-slide a img', function() {
      $(".header-wrapper").css("z-index","1");
      $(this).parent("a").attr("href", "javascript:;");
      $(".moda-prol").show();
      $("body").addClass("modal");
    });
    $(document).on('click', '.mainimage', function() {
      $(".moda-prol").show();
      $("body").addClass("modal");
    });       
    $('.close').click(function() {
      $(".header-wrapper").css("z-index","9999");
      $("#modal").hide();
      $("body").removeClass("modal");
    });
    $('#modal').click(function() {
      $("body").removeClass("modal");
      $('#modal').hide();

    }); 
    var url = window.location.href;
    url = url.toString();
    if(url.includes('=')){
      var newurl = url.split("=");
      var success_status =  newurl[1];
      console.log('---'+success_status);
      //success_status = success_status.toString();
      if(success_status.includes('true')){
        $('.successmessge').show();
      }
    }
    setTimeout(function(){
      $('.successmessge').hide();
    },7000);

    // for popup ===
    $('.contact-form-submit').click(function(){
      var status = true ;var error_mesg = "";
      var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
      var email = $('#contact-email').val();
      var phone = $('#contact-phone').val();
      if (email == ''){
        alert("Email is empty.");
        status = false ;
      }
      else{            
        if (testEmail.test(email)){}
        else{
          status = false ;
          alert("Invalid Email");
        }
      }        
      if(phone != ''){
        if($.isNumeric(phone)){
        }else{
          status = false ;
          alert("please enter numeric value.");
        }
      }	
      if( status == true){
        $('#contact_form').submit();
      }
      //return false;

    });

    $("#contact_form").click(function(e){     
      e.preventDefault();
      e.stopPropagation();
      return false;
    });
    $('.askpopup').click(function(){         
      $(this).fadeOut();
    });

    $(".ask_query").on('click', function (e) {              	
      $(".template-product .askpopup").fadeIn();          
      $("html, body").animate({ scrollTop: 0 }, "slow");  	
    });
    //----------    
  });  
</script>


<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>


<!-- <script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=853275bb-ff2a-4969-ad90-5d182d389918"></script> -->

<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=853275bb-ff2a-4969-ad90-5d182d389918"></script>

<!-- Nico: Adjustment to fix sezzl layout issue -->
<style>
  @media (min-width: 769px) {
    .template-product .sezzle-shopify-info-button {
      position: static !important;
      width: 100% !important;
      padding-top: 20px !important;
    }

    .currency-price-list-wrapper {
        position: relative;
    }
    .product-single__price {
    	display: inline-block;
      	float: left;
    }
/*     #currencies_list {
      position: absolute;
      left: -7px;
      bottom: 40px;
    } */
  }
  
</style>
<div itemscope itemtype="http://schema.org/Product">
	<meta itemprop="name" content="{{product.title}}" />
	<meta itemprop="description" content="{{product.description | strip_html | truncatewords: 50}}" />
	<meta itemprop="sku" content="{{ product.selected_or_first_available_variant.sku }}" />
	<meta itemprop="url" content="{{ shop.secure_url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
	<meta itemprop="brand" content="{{ product.vendor }}" />
	<meta itemprop="mpn" content="{{ product.selected_or_first_available_variant.sku }}" />
	{% if product.metafields.loox.num_reviews %}
		<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		  	<meta itemprop="bestRating" content="5">
		  	<meta itemprop="worstRating" content="1"/>  
		  	<meta itemprop="ratingValue" content="{{ product.metafields.loox.avg_rating }}"/>
		  	<meta itemprop="reviewCount" content="{{ product.metafields.loox.num_reviews }}"/>
		</div>
		<div itemprop="review" itemscope itemtype="http://schema.org/Review"  content = "{{ product.metafields.loox.avg_rating }}">
		  	<span itemprop="name" content="Good Product"></span> 
		  	<span itemprop="author" content="{{ shop.name }}"></span>
		  	<meta itemprop="datePublished" content="">
	
		  	<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
			    <meta itemprop="worstRating" content = "0">
		    	<span itemprop="ratingValue" content = "{{ product.metafields.loox.num_reviews }}"></span>
		    	<span itemprop="bestRating" content = "{{ product.metafields.loox.num_reviews }}"></span>
		  	</div>
		</div>
	{% endif %}
	<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		<meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        <meta itemprop="price" content="{{product.selected_or_first_available_variant.price|money_without_currency | remove: ','}}" />
		<meta itemprop="priceValidUntil" content="{{ "today" | date: '%s' | plus: days | date: "%Y-%m-%d" }}">
    	<meta itemprop="availability" content="http://schema.org/{% if product.selected_or_first_available_variant.available %}InStock{% else %}OutOfStock{% endif %}"/>
        <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>
   		<meta itemprop="seller" content="{{ shop.name | escape }}" />
        <meta itemprop="url" content="{{ shop.secure_url }}{{ product.selected_or_first_available_variant.url }}">
	</div> 
</div>